.plan_dialog {
    padding: 0 10px;
    background: #f9f9f9;
}
.plan_dialog .fl{
    float: left;
}
.plan_dialog input{
    width: 150px;
    font-size: 13px;
}
.plan_dialog textarea{
    width: 350px;
    padding: 3px;
}
.plan_dialog li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.plan_dialog .disa{
    background: none;
    border: none;
}
.plan_dialog .vam{
    vertical-align: middle;
}
.opt a.ena{
    color: #0000cc;
    text-decoration: underline;
}
.opt a.disa{
    color: #8F8F8F;
    text-decoration: none;
    cursor: not-allowed;
}