	/* 全局样式 */
*{margin: 0;padding: 0}
html {font-size:62.5%; _background:url(about:blank) fixed;cursor: default;}
body,
button,
input,
select, 
textarea  {font-family:"微软雅黑",tahoma,arial,simsun,\5b8b\4f53,sans-serif;font-size:12px; line-height:18px; color:#282828}
img {border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
iframe {border:0;vertical-align:top}
table {border-collapse:collapse}
pre {white-space:pre;word-wrap:break-word}
address,cite,dfn,em,var{font-style:normal}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-5px}
sub{bottom:-2.5px}
input,button,textarea,select,label {/*margin:0;  1*/vertical-align:middle;font-size:100%; font-family: inherit}
li { list-style: none; }
textarea { resize:vertical;overflow:auto; vertical-align:top}
a:link,a:visited,a:hover,a:active { text-decoration:none; cursor: pointer; color: #333; }
span,a,ul,li{ cursor: default; }
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight:normal; cursor: default;}
h1 {font-size:18px;margin:6.7px 0}
h2 {font-size:16px;margin:8.3px 0}
h3 {font-size:12px;margin:10px 0}
h4 {font-size:10px;margin:13.3px 0}
h5,h6 {font-size:8px;margin:16.7px 0}
.cf {*zoom:1}
.cf:after {display:block;content:'\20';height:0;clear:both}
.inline-block {display:inline-block;*display:inline; *zoom:1}
.hide {display:none}
.clip-hide {position:absolute !important;clip:rect(1px,1px,1px,1px);*clip:rect(1px 1px 1px 1px)}
.invisible {visibility:hidden}
.fl {float:left;_display:inline}
.fr {float:right;_display:inline}
.fw4  {font-weight:400}
.fw7  {font-weight:700}
.fs12 {font-size:12px}
.fs14 {font-size:14px}
.fs18 {font-size:18px}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
button::-moz-focus-inner,
input::-moz-focus-inner {border:0;padding:0}
select {height:22px;line-height:18px;padding:2px 0}
.ph-label {
position: absolute;
left: 30px;
height: 27px;
color: #aaa;
line-height: 40px;
font-size: 16px;
cursor: text;
z-index: 1;
}
.btn {padding: 6px 12px;border: solid 1px #e5e5e5;display: inline-block; line-height: 1.42857143;text-align: center;background-color: #fff}
.btn-m {padding:10px 20px;font-size: 14px;line-height: 20px;}
.btn-primary {background-color: #21ae59;color: #fff}
.btn-inactive {background-color: #e5e5e5;!important; cursor: auto!important;color:#999!important; }

	/* header */
.header .header-top-wrapper{ position:relative; width: 100%; min-width: 1280px; background: #21ae59; }
.header .top-bar{ position:relative; padding: 0 20px; margin: 0 auto; color: #d1edf7 }
.header .user-bar{ position: absolute; right: 20px; top:20px; }
#logo { display: block; height: 50px; width: 130px; background: url("/static/img/logo/logo-beta1.png") no-repeat left center ; _background: url(/static/img/logo/head-logo.png) no-repeat left center; }
.edit-plan-title { float: left; margin:15px 0 0 10px; border-left: 1px solid #fff; vertical-align:center; font-family: "微软雅黑"; color: #e7fbe4;}
.edit-plan-title h1 { display: inline-block; padding-left: 20px; margin: 0; font-weight: 400; font-size: 18px; line-height: 20px; color: #e7fbe4;}
.edit-plan-title a.edit-title{ color: #F9FAFC; }
.user-bar .userbtns { color: #fff; font-size: 16px; }
.user-bar .userbtns a{ color: #fff; text-decoration: underline; font-size: 14px;}
	/* footer */
.footer{ width:1024px; padding:20px 0 10px 0; margin:0 auto; margin-top:30px; font-size: 14px; line-height: 30px; text-align: center; color: #333; } 
.footer a{ margin-right: 20px; color: #333; }

	/* 登录和注册的页面布局 */
.log-wrapper{ min-width: 1280px; min-height: 659px; background: #f8f8f8 url("/static/img/log-bg.png") no-repeat center top ; } 
.log-wrapper .log-content{ position: relative; width: 60%; min-width: 1280px; margin: 0 auto; padding: 50px 0; } 
.log-content .welcomimg{ padding:55px 0px; }
.reg-content .welcomimg{ padding: 0px; } 
.welcomimg img{  } 
.signin-box{ position:relative; width: 340px; margin-top: 70px; background: #fff; border:1px #eee solid; /* box-shadow: 1px 1px 2px #ccc; */ overflow: hidden; } 
.login-hd {  padding-left: 20px; height: 50px; line-height: 70px; font-size: 18px; color: #666;} 
.error-info { position: absolute; top:15px; left:20px; width: 227px; height: 40px; background: url(/static/img/loginBox_btn.gif) -180px 0 no-repeat; padding: 9px 0 0 29px; color: #F00; font-weight: bold; z-index: 21; } 
.error-info.success { color: #21ae59!important;background: url(/static/img/loginBox_btn.gif) -180px 0 no-repeat;padding-left:8px;}
.error-info.success span{background-color: #F9FBE8}
    .error-info.actfail-info { background: url("/static/img/icon/ht.gif") no-repeat; }
.actfail-info span { color: #f4860e; }
.actfail-info a { color: #21ae59; }
.signin-forms li{ position: relative; clear: both; padding: 20px 0 0 20px; } 
.signin-forms li input{ 
	position: relative; 
	width: 280px; 
	padding:10px; 
	border: 1px solid #dfdfdf; 
	border-radius: 2px; 
	color: #000;
	/* box-shadow: 0 0 5px #fff;  */
	outline: none;
	font-size:14px; 
	/* transition: box-shadow 0.25s linear 0s; 
	-webkit-transition: box-shadow 0.25s linear 0s;  */
	}
.register-form li input{ 
	position: relative; 
	width: 280px; 
	padding:10px; 
	border: 1px solid #dfdfdf; 
	border-radius: 2px; 
	color: #000; 
	/* box-shadow: 0 0 5px #fff;  */
	outline: none;
	font-size:14px; 
	/* transition: box-shadow 0.25s linear 0s; 
	-webkit-transition: box-shadow 0.25s linear 0s;  */
	}
.signin-forms input:focus{ border-color: #21ae59;box-shadow: 0 0 2px 2px rgba(33,174,89,0.3);transition:all .2s ease; }
.signin-forms li input.username{ background-position: 0 10px ;}
.signin-forms li input.password{ background-position: 0 -20px ;}
.signin-forms li .imglab{ position:absolute; top:21px; padding:0; width:35px; height:40px; background: url("/static/img/icon/sign_in-icon.png") no-repeat; text-indent:-9999px; z-index: 21}
.signin-forms li label.username{ background-position: 1PX 10px ;}
.signin-forms li label.password{ background-position: 1PX -20px ;} 
.signin-forms li label.chkrem{ position: static; width:72px ; height:14px; background:#fff; text-indent: 0; font-size: 12px; line-height: 14px; }
.signin-forms .vcode-input{ width: 100px; margin-right:10px; padding-left: 10px; } 
.signin-forms .sms-code-input{ width: 100px; margin-right:10px; padding-left: 10px; }
.signin-forms li input.check{ width: 15px; height: 15px; margin-right:5px; padding: 0; border: 0px; vertical-align: middle; }
.agreeinfo a{ display:block; font-size: 12px; line-height: 14px; }
.agreeinfo a:hover{ text-decoration: underline; color: #21ae59}
.signin-forms li.vcode a.vcode-inf{ display:inline; width: 100px; vertical-align: middle;}
.pwdinfo { width:300px; padding: 5px 0 0 5px;} 
.pwdinfo .get-password{ color: #21ae59; } 
.signin-forms .err-tip { clear: both; background: url(/static/img/icon/err_ico.png) no-repeat; padding: 0 0 3px 22px; font-size: 12px; color: #ff3c00; margin-top: 10px; } 
.signin-forms .submit-btn{ width: 100%; text-align: center; padding-bottom: 20px; } 
.submit-btn .reginfo{ text-align: right; padding: 10px 30px 30px 0; } 
.log-submit-on{ background-color: #21ae59 !important; color: #f4f5f6 !important; cursor: wait !important;}
.signin-forms .submit-btn .log-submit { display:block; width: 90%; height: 40px; margin:0 auto; border: none; background-color: #21ae59; border-radius: 2px; line-height: 40px; color: #fff; text-align: center; font-size: 18px; cursor: pointer; } 

.signin-forms .submit-btn .reg-submit { display:block; width: 90%; height: 40px; margin:0 auto; margin-top: 20px; border: none; background-color: #21ae59; border-radius: 2px; line-height: 40px; color: #fff; text-align: center; font-size: 18px; cursor: pointer; }

.signin-forms .submit-btn .log-submit:hover,
.signin-forms .submit-btn .reg-submit:hover { background: #21ae59; } 
.signin-forms .connect{ margin: 0 20px;margin-top:20px; overflow: hidden; transition: 0.3s ease-in-out 0s; -moz-transition: 0.3s ease-in-out 0s; -webkit-transition: 0.3s ease-in-out 0s; } 
.signin-forms .connect .hd{ padding: 15px 0 10px 0px; border-top: 1px solid #ebebeb; font-size: 14px; } 
.signin-forms .connect .bd-wrap { text-align: center; padding-bottom: 20px; }
.signin-forms .connect .bd{ display: inline-block; *display: inline; } 
.signin-forms .connect a{ display: block;  
float: left;
width: 45px; 
height: 45px; 
margin-left: 50px; 
text-align: center; 
font-size: 12px; 
color: #999; 
text-indent:-9999px;
 }
 .signin-forms .connect a:first-child{
 margin-left: 0; 
 }
.signin-forms .connect a.weibo{
	background: url("/static/img/icon/login_03.png") no-repeat;
}
.signin-forms .connect a.qq{
	background: url("/static/img/icon/login_05.png") no-repeat;
}

.signin-forms .connect a.weixin{
	background: url("/static/img/icon/wx.png") no-repeat;
}

.signin-forms .connect a.douban{
	background-position: 7px -146px ;
}
.vcode-view{ display:inline; width: 200px; vertical-align:middle}
img.vcode-img{ width: 80px; height: 40px;}

.sms-btn { width: 154px; height: 40px; margin-left: 15px; text-align: center; background-color: #fff; border: solid 1px #e5e5e5; box-sizing: border-box; line-height: 40px; }
	/* 注册成功页面 */
.wrap {
width: 980px;
margin: auto;
}
.contentbox {
height: 440px;
}
.leftplate2 {
width: auto;
margin: 0px 0 0 103px;
}
.texttop {

margin: 0px 0 0 5px;
padding: 60px 0 0;
font-size: 14px;
color: #aa4c00;
}
.y_cs {
height: 38px;

margin: 32px 0 0;
line-height: 38px;
}
.aw {
	height: 38px;
width: 294px;
margin: 0 0 0 15px;
border: 0;
background: #21ae59;

font-weight: bold;
font-size: 14px;
color: #fff;
text-decoration: none;

text-align: center;
cursor: pointer;
border-radius:5px;

}
.wrong {
width: 520px;
height: 147px;
border: #eaeaea 1px solid;

margin: 54px 0 0 120px;
}
.wrong ul {
margin: 15px 0 0 15px;
padding: 0;
list-style-type: none;
}
.wrong ul li {
margin: 0;
padding: 0;
clear: both;
line-height: 30px;
color: #999;
font-size: 14px;
}
.icobg {display: block;
float: left;
width: 19px;
height: 19px;
margin: 6px 5px 0 0;
background: #aaa;
text-align: center;
line-height: 19px;
color: #fff;
font-size: 12px;
border-radius:10px 
}

.log-wrapper .reg-success{ position: relative; width: 60%; height:575px; min-width: 1024px; margin: 0 auto; padding: 50px 0; } 
.log-wrapper .reg-content { /* width: 450px; padding:30px;  */} 
.log-wrapper .reg-content i { float:left; display:block; width:40px; height:40px; margin-right:20px; background: url("/static/img/icon/ic.png"); } 
.log-wrapper .reg-content h1 { padding:5px; font-size:20px; color: #666; } 
.log-wrapper .reg-content .reg-btn { margin-top:25px; margin-left:50px; padding:10px; } 
.log-wrapper .reg-btn a { float:left; display: inline-block; width: 90px; margin-right:10px; padding:10px; text-align:center; border:1px #ddd solid; font-size:16px; border-radius: 2px; } 
.log-wrapper .reg-btn a:hover { background: #21ae59; color: #fff; } 

input:-ms-input-placeholder { color: #acacac !important; text-overflow: ellipsis; }

.signin-forms .reb-login { padding: 15px 0 15px 20px; }
.signin-forms .reb-login input { margin-right: 5px;  }

.reb-register { padding: 20px 0 0 20px; }
.reb-register input { margin-right: 5px;  }
.reb-register a { color: #21ae59; }

.active-cont { width: 1100px; margin: 0 auto; margin-top: 200px; } 
.active-cont p { padding-left: 50px; font-size: 24px; color: #333; line-height: 40px; } 
.active-cont p.tips { padding-left: 0; padding-right: 60px; font-size: 14px; color: #333; line-height: 40px; text-align: center; } 
.active-cont p.ture { margin-left: 200px; background: url("/static/img/icon/h_1.png") no-repeat center left; } 
.active-cont p.more { margin-left: 300px; }
.active-cont p.resend { margin-left: 300px; background: url("/static/img/icon/h_2.png") no-repeat center left; } 
.a-div { padding: 40px 410px 0 410px; }
.a-div .email-a { font-size: 16px; color: #21ae59; text-decoration: underline; line-height: 34px; }
.a-div .resend-a { display: block; width: 94px; height: 34px; margin-left: 20px; line-height: 34px; font-size: 14px; color: #fff; background: #21ae59; text-align: center; }
.a-div .userinfo-a { display: block; width: 94px; height: 34px; line-height: 34px; font-size: 14px; color: #444; background: #fff; border: 1px solid #e5e5e5; text-align: center; }
.a-div .resend-email { display: block; width: 110px; height: 34px; margin-left: 20px; line-height: 34px; font-size: 14px; color: #fff; background: #21ae59; text-align: center; }
.a-div .resend-msg { margin-left: 50px; font-size: 14px; color: #21ae59; line-height: 30px; }

/* 忘记密码 */
.forget-wrapper { padding-left: 200px; box-sizing: border-box; }
.forget-pwd { margin: 5px 20px 0 0; text-decoration: underline !important; }
.forget-pwd:hover { text-decoration: none !important; }
.wrap-title { padding:30px 0 15px 0; vertical-align: middle; }
.wrap-title li { display: inline-block; margin-left: 20px; line-height: 36px; font-size: 14px; color: #aaa }
.wrap-title li:FIRST-CHILD { margin-left: 0; }
.wrap-title li.active { color: #21ae59 }
.wrap-title li i { float: left; display: inline-block; font-size: 0; width: 36px; height: 36px; } 
.wrap-title li.step-one i { background: url("../img/icon/bpwd_1.png") center no-repeat; }
.wrap-title li.step-one.active i { background: url("../img/icon/bpwd_1_h.png") center no-repeat; }
.wrap-title li.step-two i { background: url("../img/icon/bpwd_2.png") center no-repeat; }
.wrap-title li.step-two.active i { background: url("../img/icon/bpwd_2_h.png") center no-repeat; }
.wrap-title li.step-three i { background: url("../img/icon/bpwd_3.png") center no-repeat; }
.wrap-title li.step-three.active i { background: url("../img/icon/bpwd_3_h.png") center no-repeat; }
.wrap-title li.step-four i { background: url("../img/icon/bpwd_4.png") center no-repeat; }
.wrap-title li.step-four.active i { background: url("../img/icon/bpwd_4_h.png") center no-repeat; }
.wrap-title li .arrow { display: inline-block; height: 36px; width: 120px; background: url("../img/icon/jiant_1.png") center right no-repeat; }
.wrap-title li.active .arrow { background: url("../img/icon/jiant_2.png") center right no-repeat; }
.success-msg { padding-left: 70px; }
.tips { line-height: 30px; color: #aaa; font-size: 13px; margin-bottom: 10px; }
.forget-table #J_secureemail { width: 100% }
.forget-table td { text-align: right; padding-left: 10px; line-height: 60px; color: #333; font-size: 14px; }
.forget-table td.txc { text-align: center; }
.forget-table td.txl { text-align: left; }
.forget-table td:first-child { padding: 0; }
.forget-table td.center-td { text-align: center; padding-left: 3px; }
.forget-table td input {  padding: 5px 8px;box-sizing: border-box;font-size: 16px; height: 40px; width: 150px; }
td input.sms-code { width: 110px; }
.forget-table td .submit-btn { display: block; width: 100%; line-height: 40px; margin-top: 8px; background: #21ae59; color: #fff; text-align: center; font-size: 14px; }
.forget-table td .submit-btn .send-span { display: block; cursor: pointer; }
.forget-table td .submit-btn .wait-span { display: none; cursor: pointer; }
.forget-table td .submit-btn.resend-btn { width: 280px; }
.forget-table td .submit-btn:hover { background: #21ae59 }
.forget-table td .submit-btn.on { background: #ccc; cursor: wait; }
.forget-table td .submit-btn.on:hover { background: #ccc; cursor: wait; }
.forget-table td .submit-btn.on .send-span { display: none; }
.forget-table td .submit-btn.on .wait-span { display: block; }
.forget-table input {position: relative;width: 280px;padding: 10px;border: 1px solid #dfdfdf;border-radius: 2px;color: #000;outline: none;font-size: 14px;}
.forget-table .selected{ border-color: #21ae59 }
.forget-form { position: relative; }
table .error-msg { color: red; text-align: left;padding-left: 35px; background: url("../img/icon/lv_sett.png") 15px 22px no-repeat; background-size: 15px; }
#J_password, #J_password-two { width: 280px; }
.forget-table td.user-name { text-align: left; }
.forget-wrapper .resend-a { display: block; width: 94px; height: 34px; margin-left: 50px; line-height: 34px; font-size: 14px; color: #fff; background: #21ae59; text-align: center; }
.success-tips { color: #696969; font-size: 18px; line-height: 40px; margin: 20px 0; }
.success-tips i { display: block; width: 40px; height: 40px; margin-right: 10px; background: url("../img/icon/sus.png") center no-repeat; font-size: 0; }
.forget-user-bar a { display: inline-block; float: left; width: 40px; text-align: center; color: #fff; font-size: 14px; margin-left: 5px; }

.input-label { position: absolute; top: 25px; left: 30px; height: 30px; font-size: 14px; color: #999; line-height: 30px; cursor:text; z-index: 1; }



