<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmlyinfo.app.soutu.plan.mapper.RecommendPlanImageMapper">
	<insert id="insert" parameterType="RecommendPlanImage" useGeneratedKeys="true" keyProperty="id">
		insert into tb_recommend_plan_image
			(
				id,
				recommend_plan_id,
				recommend_plan_day_id,
				recommend_plan_trip_id,
				cover_large,
				cover_medium,
				cover_small,
				create_time,
				modify_time
			)
		values
			(
				#{id},
				#{recommendPlanId},
				#{recommendPlanDayId},
				#{recommendPlanTripId},
				#{coverLarge},
				#{coverMedium},
				#{coverSmall},
				#{createTime},
				#{modifyTime}
			)	
	</insert>
	
	<update id="update" parameterType="RecommendPlanImage">
		update tb_recommend_plan_image
		<set>
			<if test="id != null and '' != id"> id = #{id},</if>
			<if test="recommendPlanId != null and '' != recommendPlanId"> recommend_plan_id = #{recommendPlanId},</if>
			<if test="recommendPlanDayId != null and '' != recommendPlanDayId"> recommend_plan_day_id = #{recommendPlanDayId},</if>
			<if test="recommendPlanTripId != null and '' != recommendPlanTripId"> recommend_plan_trip_id = #{recommendPlanTripId},</if>
			<if test="coverLarge != null and '' != coverLarge"> cover_large = #{coverLarge},</if>
			<if test="coverMedium != null and '' != coverMedium"> cover_medium = #{coverMedium},</if>
			<if test="coverSmall != null and '' != coverSmall"> cover_small = #{coverSmall},</if>
			<if test="createTime != null and '' != createTime"> create_time = #{createTime},</if>
			<if test="modifyTime != null and '' != modifyTime"> modify_time = #{modifyTime},</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="del" parameterType="RecommendPlanImage">
		delete from
			tb_recommend_plan_image
		where
			id = #{id}
	</delete>
	
	<select id="selById" resultType="RecommendPlanImage">
		select
			*
		from
			tb_recommend_plan_image
		where
			id = #{id}
	</select>
	
	<select id="count" resultType="int">
		select 
			count(*) 
		<include refid="byProperty"/>
	</select>
	
	<select id="list" resultType="RecommendPlanImage">
		select 
			 *
		<include refid="byProperty"/>
	</select>
	
	<sql id="byProperty">
		from
			tb_recommend_plan_image
		<where>
			<if test="id != null and '' != id"> and id = #{id} </if>
			<if test="recommendPlanId != null and '' != recommendPlanId"> and recommend_plan_id = #{recommendPlanId} </if>
			<if test="recommendPlanDayId != null and '' != recommendPlanDayId"> and recommend_plan_day_id = #{recommendPlanDayId} </if>
			<if test="recommendPlanTripId != null and '' != recommendPlanTripId"> and recommend_plan_trip_id = #{recommendPlanTripId} </if>
			<if test="coverLarge != null and '' != coverLarge"> and cover_large = #{coverLarge} </if>
			<if test="coverMedium != null and '' != coverMedium"> and cover_medium = #{coverMedium} </if>
			<if test="coverSmall != null and '' != coverSmall"> and cover_small = #{coverSmall} </if>
			<if test="createTime != null and '' != createTime"> and create_time = #{createTime} </if>
			<if test="modifyTime != null and '' != modifyTime"> and modify_time = #{modifyTime} </if>
		<if test="ids != null and ids.size() > 0">
			and id in
			<foreach item="item" index="index" collection="ids" open="("
				separator="," close=")">
				# {item}
			</foreach>
		</if>
		</where>
	</sql>
</mapper>