.secnav {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #c2c2c2;
	box-shadow: 0 1px 2px #c2c2c2;
	background-color: #3c3c3c;
	border-top: 1px solid #555;
}

.secnav_list{
	width:1200px;
	margin:auto;
}

.secnav_list ul {
	width:208px;
	float:right;
	margin-right:552px;
}

.secnav_list ul li{
	width:100px;
	height:40px;
	float:left;
	font-size:12px;
	text-align:center;
	line-height:40px;
	color:#888;
	cursor: pointer;
	font-weight: 600
}

.secnav_list .HSsec_active{
	border-bottom:4px solid #bbb;
	color:#999!important;
	height:38px;
}
.messageList_header>div.dataTables_wrapper>div.dataTables_length, .sailPrice .messageList_header>div.dataTables_wrapper>div.dataTables_length, .financeList .financeTable>div.dataTables_wrapper>div.dataTables_length {
	position: absolute;
	bottom: 2px;
	right: 0px;
	width: 160px;
}
.messageList_header>div.dataTables_wrapper>div.dataTables_length label, .sailPrice .messageList_header>div.dataTables_wrapper>div.dataTables_length label, .financeList .financeTable>div.dataTables_wrapper>div.dataTables_length label {
	font-weight: normal;
	margin-bottom: 0px;
}
.messageList_header>div.dataTables_wrapper>div.dataTables_processing, .sailPrice .messageList_header>div.dataTables_wrapper>div.dataTables_processing, .financeList .financeTable>div.dataTables_wrapper>div.dataTables_processing {
	width: 15%;
	height: 50px;
	padding: 0px;
	margin-left: -6%;
	margin-top: -38px;
	line-height: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(18, 18, 18, 0.7);
	background: #121212\0;
	color: #fff;
}


.financeList {
	width: 1200px;
	margin: auto;
	background-color: #fff;
	margin-top:20px;
	padding-top:1px;
}

.permess {
	width: 1200px;
	height: 194px;
	background-color: #fff;
	border:1px solid #ddd;
}

.cashmax {
	width: 282px;
	height: 146px;
	background:linear-gradient(#fafafa,#f9f9f9);
	float: left;
	margin:24px 0 0 32px;
	border-radius:5px;
	border-top:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	border-bottom:1px solid #ccc;
	border-left:1px solid #e0e0e0;
	box-shadow: 0px 1px 3px #ccc;
}

.cashmin {
	width: 246px;
	height: 116px;
	margin: 14px 0 0 18px;
	border-radius:5px;
	background:linear-gradient(#f6f6f6,#f0f0f0,#e7e7e7);
	border-top:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	border-bottom:1px solid #c0c0c0;
	border-left:1px solid #e0e0e0;
	box-shadow: 0px 1px 3px #c0c0c0;
}

.cashmin ul li.cashpic {
	margin-top: 10px;
	height: 40px;
	background:url(/images/yhy/icon-djs.png) no-repeat center center;
}

.cashmin ul li.cashpic2 {
	background:url(/images/yhy/icon-yjs.png) no-repeat center center;
}

.cashmin ul li.cashpic3 {
	background:url(/images/yhy/icon-ye.png) no-repeat center center;
}

.cashmin ul li.cashcount {
	margin-top:12px;
	font-size: 30px;
	color: #9f9f9f;
	text-align: center;
	line-height: 25px;
	font-family: '微软雅黑';
}

.cashmin ul li.cashstate {
	margin-top:5px;
	font-size: 18px;
	color: #b5b5b5;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 0 2px #fff;
}

.withdraw {
	width: 187px;
	height: 43px;
	margin:70px 0 0 44px;
	color: #fff;
	text-align: center;
	line-height: 43px;
	font-size:18px;
	float: left;
	cursor: pointer;
	border-radius:5px;
	font-family: AdobeInvisFont;
	background:url(/images/yhy/icon-sq.png) no-repeat center center;
}

.countbox {
	display: none;
	width:280px;
	background-color: #fff;
	position: fixed;
	left:300px;
	top:300px;
	z-index: 101;
}

p.closeacount {
	background: url(/images/yhy/close.png) no-repeat calc(100% - 8px) bottom;
	background-size:14px;
	height:23px;
}

p.closeacount span {
	display: block;
	float: right;
	width:25px;
	height:25px;
}

p.pic {
	background: url(/images/yhy/icon-rmb.png) no-repeat center center;
	height:30px;
}

.inputbox {
	width: 100%;
	height: 100px;
	margin-top:10px;
}

.inputbox p{
	margin-left: 35px;
	padding: 2px;
}

.inputbox input {
	width:200px;
	height:30px;
	border:1px solid #f0f0f0;
	border-radius:4px;
	margin-top: 10px;
	margin-left: 40px;
	font-size:13px;
	color: #666;
	display: block;
	text-align:center;
}

.sureBtn {
	width: 120px;
	margin: 20px 0 20px 80px;
}

.selectBar {
	height: 60px;
}

.search {
	margin-right: 10px;
}

.selB_1 {
	float: right;
	margin-top: 16px;
}

.search .btn {
	background-color: #478ff1;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.orderState {
	width: 138px;
	margin-right:20px;
}

.orderState .orderStatelist {
	float: right;
	width: 134px;
	line-height: 30px;
	font-size: 12px;
}

.orderState .orderStatelist select {
	width: 100px;
	text-align: left;
	font-size: 12px;
	color: #666;
	float: right;
	height: 30px;
	border: 1px solid #d1d1d1;
	border-radius: 5px!important;
}

.orderTime {
	width: 300px;
	margin-right: 20px;
}

.orderTime span.orderTime_1 {
	width: 70px;
}

.orderTime span.orderTime_2 {
	width: 30px;
}

.financeList {
	background: url(/images/yhy/background.png) no-repeat center center;
	background-size: cover;
}

.orderTime span, .financeList .businesOrderNum span {
	display: block;
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-family: AdobeInvisFont;
}

.orderTime div.getinTime {
	float: left;
}

.orderTime div.getinTime input {
	width: 100px;
}

.selB_1 input {
	height: 30px;
	font-size: 12px;
	color: #333;
	border: 1px solid #d1d1d1;
	border-radius: 5px!important;
}

.financeTable {
	background: url(/images/yhy/background.png) repeat 0 0;
	background-size: 1px 1px;
}

.financeTable table {
	margin-bottom: 0;
}

.financeTable .fundsTime {
	width: 235px;
}

.financeTable .fundsCount {
	width: 235px;
}

.financeTable .fundsType {
	width: 235px;
}

.financeTable .fundsBalance {
	width: 235px;
}
.financeTable .fundschedule {
	width: 235px;
}
.financeList .financeTable table th {
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight:600;
	color: #333;
	border-bottom:none;
	background:linear-gradient(#f8f8f8,#f0f0f0,#eee);
}

.financeList .financeTable table tr {
	border-left:1px solid #ddd;
}

.financeList .financeTable table thead tr {
	border-right:1px solid #ddd;
}

.financeList .financeTable table tr td {
	font-size: 12px;
	color: #666;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-family: AdobeInvisFont;
	border-right: 1px solid #ddd;
	vertical-align: middle;
}

.pageChange {
	background: url(/images/yhy/background.png) no-repeat center center;
	background-size: cover;
}

.shadow {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}
.bv-form .help-block {
	float: left;
	margin-left: 40px;
	width:100%;
}



