.secnav {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #c2c2c2;
	box-shadow: 0 1px 2px #c2c2c2;
	background-color: #3c3c3c;
	border-top: 1px solid #555;
}

.secnav_list{
	width:1200px;
	margin:auto;
}

.secnav_list ul {
	width:208px;
	float:right;
	margin-right:550px;
}

.secnav_list ul li{
	width:100px;
	height:40px;
	float:left;
	font-size:12px;
	text-align:center;
	line-height:40px;
	color:#888;
	cursor: pointer;
	font-weight: 600
}

.secnav_list .HSsec_active{
	border-bottom:4px solid #bbb;
	color:#999!important;
	height:38px;
}

.messageList_header>div.dataTables_wrapper>div.dataTables_length, .sailPrice .messageList_header>div.dataTables_wrapper>div.dataTables_length, .financeList .financeTable>div.dataTables_wrapper>div.dataTables_length {
	position: absolute;
	bottom: 2px;
	right: 0px;
	width: 160px;
}
.messageList_header>div.dataTables_wrapper>div.dataTables_length label, .sailPrice .messageList_header>div.dataTables_wrapper>div.dataTables_length label, .financeList .financeTable>div.dataTables_wrapper>div.dataTables_length label {
	font-weight: normal;
	margin-bottom: 0px;
}
.messageList_header>div.dataTables_wrapper>div.dataTables_processing, .sailPrice .messageList_header>div.dataTables_wrapper>div.dataTables_processing, .financeList .financeTable>div.dataTables_wrapper>div.dataTables_processing {
	width: 15%;
	height: 50px;
	padding: 0px;
	margin-left: -6%;
	margin-top: -38px;
	line-height: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(18, 18, 18, 0.7);
	background: #121212\0;
	color: #fff;
}

.financeList {
	width: 1200px;
	margin:10px auto 0 auto;
	background-color: #fff;
	padding-top:0.1px;
}

.financeList .selectBar {
	height:60px;
	clear: both;
}

.selB_1 {
	float: left;
	margin-top:16px;
}

.selB_1 .form-control {
	height: 30px;
	font-size:12px;
	color: #333;
	border:1px solid #d1d1d1;
	border-radius:5px!important;
}

.financeList .businesOrderNum {
	width:170px;
}

.financeList .businesOrderNum .input-group {
	margin-left:8px;
}

.financeList .businesOrderNum .form-control {
	width: 100px;
}

.financeList .orderTime {
	width:310px;
}

.financeList .orderTime div.input-group {
	float:left;
}

.financeList .orderTime span,.financeList .businesOrderNum span {
	display: block;
	float:left;
	line-height:30px;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-family: AdobeInvisFont;
	width:60px;
}

.financeList .orderTime span.orderTime_1 {
	width: 70px;
}

.financeList .orderTime span.orderTime_2 {
	width: 30px;
}

.financeList .orderTime .form-control {
	width: 100px;
}

.financeList .orderState {
	width: 210px
}

.financeList .orderState .orderState_1，.financeList .businesOrderNum .orderState_1 {
	width: 70px;
	float: left;
	display: block;
	line-height: 30px;
	font-size:12px;
	text-align: center;
}

.financeList .orderState .dropdown {
	float: left;
}

.financeList .orderState .dropdown button {
	width: 100px;
	text-align: left;
	font-size: 12px;
	color: #666;
}

.financeList .orderState .dropdown .caret {
	float: right;
	margin-top: 7px;
}

.financeList .orderState .dropdown ul li,.financeList .orderState .dropdown ul {
	min-width: 130px;
}

.financeList .orderState .form-control {
	width: 130px;
}

.financeList .search {
	float: right;
}

.financeList .search .btn {
	background-color: #478ff1;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.financeList .search .btn:hover {
	background-color: #0069fc;
}

.orderState .orderState_1 {
	display: block;
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    text-align: center;
    font-family: AdobeInvisFont;
    width: 70px;
}

.financeList .week_moon {
	width:100px;
}

.financeList .week_moon button {
	width: 45px;
	height:30px;
	padding:0;
	line-height:30px;
	font-size: 12px;
}

.financeList .financeTable .checkNum {
	width: 135px;
}

.financeList .financeTable .checkDays {
	width: 196px;
}

.financeList .financeTable .checkDate {
	width: 148px;
}

.financeList .financeTable .statement {
	width: 120px;
}

.financeList .financeTable .gethering {
	width: 180px;
}

.financeList .financeTable .checkState {
	width: 220px;
}

.financeList .financeTable .operation {
	width: 190px;
}

.financeList .financeTable table {
	margin-bottom:0;
}

.financeList .financeTable table tr th {
	font-size: 14px;
	color: #333;
	text-align: center;
	height: 35px;
	line-height:35px;
}

.financeList .financeTable table tr td {
	font-size: 12px;
	color: #666;
	text-align: center;
	height: 30px;
	line-height:30px;
	font-family: AdobeInvisFont;
	border-right:1px solid #ddd;
}

.financeList .financeTable table tr td.checkNum {
	border-left:1px solid #ddd;
}

.financeList .financeTable table tr td.operation a {
	display: block;
	text-decoration: none;
	color: #1181de;
}


/*datatable样式修改*/

.financeList .financeTable {
	width: 100%;
	background: url(/images/yhy/background.png) repeat 0 0;
	background-size: 1px 1px;
}

.financeList .financeTable .table tr th {
	color: #5a5a5a!important;
	border-bottom: 0px solid #ddd;
}

.financeList .financeTable .table tr td:last-child {
	border-right: none;
}

.financeList .financeTable .table tr td:last-child a {
	cursor:pointer;
}

/*.financeList .financeTable .table .trheader {*/
	/*background: linear-gradient( #f9f9f9 0%, #f0f0f0 100%);*/
	/*border: 1px solid #ddd;*/
/*}*/

.financeList .financeTable .table thead tr {
	background: linear-gradient( #f9f9f9 0%, #f0f0f0 100%);
	border: 1px solid #ddd;
}