<div class="hotelDetail" ng-controller="hotelDetailCtrl">
    <div class="produ_lis_header header">
        <a  ng-click="back()"><span><img src="/yihaiyou/image/historyback.png"></span></a>
        <span>酒店详情</span>
    </div>
    <!--<header class="produ_lis_header">-->
        <!--<div class="pro_header_main">-->
            <!--<span class="gty_left">-->
                <!--<i class="icon icon-title-back" ng-click="back()"></i>-->
            <!--</span>-->
            <!--<span class="gty_center">-->
                <!--酒店详情-->
            <!--</span>-->
            <!--&lt;!&ndash;<span class="gty_right"><i class="icon icon-mine" ng-click="personal()"></i></span>&ndash;&gt;-->
        <!--</div>-->
    <!--</header>-->
    <!-- contain start -->
    <div class="wrapper" style="position: static;">

        <div class="main" ng-class="{hide:showAlbumFlag}" id="main"><!-- hotel-base-info start -->
            <a href="javascript:void(0);">
                <div class="hotel-base-info">
                    <img bn-lazy-src="{{hotelCover}}"
                         alt="酒店图片" ng-click="openAlbum()">

                    <div class="base-info">



                        <p class="name">{{hotelName}}</p>

                        <p class="star">{{starDesc}}</p>

                        <p class="degree">
                            <span class="degree-point"><em>{{score/20}}</em>分</span>
                            <span class="degree-count" ng-click="goHotelComments()"><i class="icon-reply"></i>{{commentCount}}人点评</span>
                        </p>
                    </div>
                    <style>
                        .hotel-base-info .collect {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            z-index: 10;
                            width: 35px;
                            height: 35px;
                            cursor: pointer;
                            display: block;
                            line-height: 35px;
                            border-radius: 50%;
                            background-color: rgba(0, 0, 0, 0.5);
                            background-image: none;
                            color: #fff;
                            font-size: 2.0rem;
                            text-align: center;
                            text-indent: -2px;
                        }

                        .collect.collected {
                            color: #33bd61;
                        }
                    </style>
                    <a class="collect" ng-class="{true: 'icon-star collected', false: 'icon-star1'}[favorite]"
                       ng-click="doFavorite()"></a>
                </div>
            </a>

            <!-- hotel-base-info end -->

            <!-- 地址、开业、装修、设施 开始 -->
            <ul class="address-feature">

                <li class="address">
                    <div class="local">
                        <i class="diy img-local"></i>
                    </div>

                    <div class="text">
                        {{address}}
                    </div>
                </li>

                <!--<li class="feature" id="HotelInfoEntry" ng-if="shortDesc">-->
                    <!--<div class="booking">-->
                        <!--<i class="diy img-booking"></i>-->
                    <!--</div>-->

                    <!--<div class="text-icon-detail">-->
                        <!--<p class="text">-->
                            <!--{{shortDesc}}-->
                        <!--</p>-->
                        <!--&lt;!&ndash;-->
                        <!--<p class="icon">-->
                            <!--<i class="diy img-wifi1"></i>-->
                            <!--<i class="diy img-kuandai"></i>-->
                            <!--<i class="diy img-reshui"></i>-->
                            <!--<i class="diy img-chuifeng"></i>-->
                            <!--<i class="diy img-xishu"></i>-->
                            <!--<i class="diy img-tingche"></i>-->
                            <!--<i class="diy img-canting"></i>-->
                            <!--<i class="diy img-jieji"></i>-->
                        <!--</p>-->
                        <!--&ndash;&gt;-->
                        <!--&lt;!&ndash;-->
                        <!--<div class="text-arrow">-->
                            <!--<span class="text">详情</span>-->
                            <!--<span class="arrow-right"></span>-->
                        <!--</div>-->
                        <!--&ndash;&gt;-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <!-- 地址、开业、装修、设施 结束   -->

            <!-- 手机预订返现 开始-->
            <!--
            <div class="mobile-book-return">
                <span class="return">返</span>
                <span class="text">通过手机预订酒店，每笔订单点评后多返1元现金券</span>
            </div>
            -->
            <!-- 手机预订返现 结束-->

            <!-- filter-bar start -->
            <div class="filter-bar" scroll-fixed>
                <div class="calender" ng-click="filterDatePanel()">
                    <p class="days">
                        <span class="date checkin-date detail-date-format">{{tipInDateDispaly}}</span>
                        <span class="date checkout-date detail-date-format">{{tipOutDateDispaly}}</span>
                        <!-- <span class="total-days total_days">入住<em>-</em>晚</span> -->
                    </p>

                    <p class="modified" id="ModifyInOutTime"><span>{{dateCount}}</span>晚
                        <i class="icon-down4 arrow"></i>
                    </p>
                </div>
                <!--
                <div id="bntBookChoose" class="choose main can-book-tag" room-filter-btn ng-class="{on:bntBookChoose}">可订</div>
                <div id="bntConfirmChoose" class="choose main instant-confirm-tag" room-filter-btn ng-class="{on:bntConfirmChoose}">立即确认</div>
                <div id="bntHourRoom" class="choose main hour-room-tag hide" room-filter-btn ng-class="{on:bntHourRoom}">钟点房</div>
                <div id="bntCancelChoose" class="choose main" room-filter-btn ng-class="{on:bntCancelChoose}">免费取消<label class=""></label></div>
                -->
                <div class="condition">{{showRoomFilter}}</div>
                <div class="choose" ng-class="{light:hasRoomFilter}" ng-click="filterPanel()">筛选<em></em>
                    <div class="arrow arrow-down"></div>
                </div>
            </div>
            <div class="filter-standing hide" style="height:46px;visibilty:hidden;"></div>
            <!--- filter-bar end --->

            <!-- room-type start -->
            <div class="type-lists" id="typeLists">

                <section class="card" infinite-scroll="listHotelPrice()" infinite-scroll-distance='1'
                         infinite-scroll-disabled='loading'>
                    <div class="room-lists">
                        <div class="room-box">

                            <div class="unit" ng-repeat="itemData in hotelPriceList" data-id="{{itemData.id}}">
                                <div class="info room-info">
                                    <p class="title">{{itemData.roomName}}</p>

                                    <p class="service" ng-bind-html="itemData.roomDescription | trustHtml"></p>
                                </div>
                                <div class="info book-info">
                                    <div class="book-price" style="margin-left:0%;">
                                        <p class="detail-price" style="position:relative;left: 12%;">￥{{itemData.price}}<span>均</span>
                                        </p>
                                    </div>

                                    <div class="book-btn-pre book-common " ng-click="doBook(itemData.id)">
                                        <p>预订</p>

                                        <p ng-if="itemData.status == 'UP' && source == 'ELONG'">到付</p>

                                        <p ng-if="itemData.status == 'GUARANTEE' && source == 'ELONG'">担保</p>

                                        <p ng-if="source == 'LXB'">在线付</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="filter-bar" ng-if="lineList != null && lineList.length > 0">
                <div class="calender" ng-click="filterDatePanel()">
                    <p style="font-size: 18px; padding-top: 5px;">关联线路</p>
                </div>
            </div>

            <div class="type-lists" ng-if="lineList != null && lineList.length > 0">

                <section class="card" infinite-scroll="listHotelPrice()" infinite-scroll-distance='1'
                         infinite-scroll-disabled='loading'>
                    <div class="room-lists">
                        <div class="room-box">

                            <div class="unit" ng-repeat="itemData in lineList" data-id="{{itemData.id}}">
                                <div class="info room-info">
                                    <p class="title">&lt;{{itemData.name}}&gt;{{itemData.appendTitle}}</p>
                                </div>
                                <div class="info book-info">
                                    <div class="book-price" style="margin-left:0%;">
                                        <p class="detail-price" style="position:relative;left: 12%;">
                                            ￥{{itemData.minPrice}}<span>起</span></p>
                                    </div>

                                    <div class="book-btn-pre book-common" ui-sref="lineDetail({id:itemData.id})">
                                        <p style="height: 28px; line-height: 28px; background: #fd7d73; color: #fff;">
                                            预订</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--<div ng-show="loading">-->
            <!--<div class="yuloading"><span>加载数据中...</span></div>-->
            <!--</div>-->

            <div class="list-empty" ng-class="{hide:!noHotelPrice}">
                <p>抱歉，暂无房型</p>
            </div>
            <div class="filter-mask hide">
            </div>
            <ul class="choose-pannel hide" name="price">
                <li>价格显示方式</li>
                <li class="select" data-value="1">显示为返现前价格<i></i></li>
                <li class="select spec active" data-value="2">显示为<em>返现后</em>价格<br><span>（帮您计算返现优惠后的价格）</span><i></i>
                </li>
                <li class="cancel price-cancel">取消</li>
            </ul>
            <ul class="choose-pannel hide" name="fold">
                <li>房型列表查看方式</li>
                <li class="select" data-value="3">按价格从低到高展开<i></i></li>
                <li class="select active" data-value="4">按同类房型分组折叠<i></i></li>
                <li class="cancel fold-cancel">取消</li>
            </ul>
            <!-- room-list end -->

            <!-- policy start -->

            <div class="hotel-policy">
                <a href="javascript:;">
                    <!--
                    <div class="arrow"><i></i></div>
                    -->
                    <div class="policy-base-info">

                        <h2>酒店简介</h2>


                        <p class="cancel-policy" ng-bind-html="description | trustHtml" ng-if="description != null"></p>
                        <p class="cancel-policy" ng-bind-html="shortDesc | trustHtml" ng-if="description == null"></p>

                    </div>
                </a>
            </div>
            <div class="policy-template">
            </div>

            <!-- policy end -->
            <!-- 附近热卖酒店 开始 -->
            <!-- 附近热卖酒店 结束 -->
            <!-- 首付出发须知 -->

            <!-- 首付出发须知 --></div>

        <div id="HotelInfo">

        </div>


        <!-- 酒店相册 start-->
        <div id="hotelAlbum" style="height: 100%;" ng-class="{hide:!showAlbumFlag}">
            <div class="produ_lis_header header">
                <a ng-click="closeAlbum()"><span><img src="/yihaiyou/image/historyback.png"></span></a>
                <span>酒店图片</span>
            </div>
            <!--<header class="produ_lis_header">-->
                <!--<div class="pro_header_main">-->
                    <!--<span class="gty_left">-->
                        <!--<i class="icon icon-title-back" ng-click="closeAlbum()"></i>-->
                    <!--</span>-->
                    <!--<span class="gty_center">酒店图片</span>-->
                    <!--<span class="gty_right"></span>-->
                <!--</div>-->
            <!--</header>-->
            <div class="hotel-album-container">
                <section class="active all">
                    <div class="album-category">
                        <div class="img-list">
                            <div class="img-box" ng-repeat="imageItem in images" ng-click="viewAlbumImg($index + 1)">
                                <!--<div class="img-content"-->
                                     <!--style="background-image: url(&quot;{{imageItem | getImgUrl}}&quot;);"></div>-->
                                <img class="img-content" bn-lazy-src="{{imageItem | getImgUrl}}" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="tip" ng-show="images.length == 0">暂无相关图片</div>
                    <div class="tip" ng-show="images.length > 0">图片仅供参考，具体情况，以门店实际为准。</div>
                </section>
            </div>
        </div>

        <!--<div class="sailling_album" ng-click="cancelAlbumImg()" id="hotelImgView">-->
            <!--<div class="pagenum"><span id="runIndex" total-count="{{imageCount}}"></span>/{{imageCount}}</div>-->
            <!--<div class="swiper-container" centerbox2 id="htei-top-slider-container">-->
                <!--<div class="swiper-wrapper">-->
                    <!--<div class="swiper-slide" ng-repeat="imageItem in images" is-over="finish.over"><img bn-lazy-src="{{imageItem | getImgUrl}}"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="swipe-pagenavi swiper-pagination" id="image-top-slide-page"></div>&ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->

    </div>

</div>