<div class="personal_changeName personal_changePassword" ng-controller="personalChangePayPasswordCtrl" screenheight>
    <div class="header">
        <a href="javascript:history.go(-1);"><span><img src="/yihaiyou/image/historyback.png"></span></a>
        修改密码
    </div>
    <div class="opar_password">
        <!--<ul>-->
            <!--<li ng-show="user.hasPayPassword"><label>原 密 码：</label><input class="newpassword" type="password" placeholder="请输入原密码" ng-model="password"/>-->
            <!--</li>-->
            <!--<li><label>新 密 码：</label><input class="newpassword" type="password" placeholder="6位以上英文或数字"-->
                                          <!--ng-model="newPassword"/></li>-->
            <!--<li><label>确认密码：</label><input class="newpassword" type="password" placeholder="请重复新密码"-->
                                           <!--ng-model="checkPassword"/></li>-->
        <!--</ul>-->
        <div class="psw_box" ng-show="user.hasPayPassword"><span class="le_ti">原 密 码:</span><input type="password" placeholder="请输入原密码" ng-model="password"></div>
        <div class="psw_box"><span class="le_ti">新 密 码:</span><input type="password" placeholder="6位以上英文或数字" ng-model="newPassword"></div>
        <div class="psw_box"><span class="le_ti">确认密码:</span><input type="password" placeholder="请重复新密码" ng-model="checkPassword"></div>
    </div>
    <div class="savechange" ng-click="update()">保存</div>
</div>