h1,h2,h3,h4,h5,h6,dl,dd,dt,ul,li,p{padding:0;margin:0}span{display:inline-block}a{text-decoration:none}.vm{vertical-align:middle}.mr10{margin-right:10px}.mr5{margin-right:5px}.mb20{margin-bottom:20px}.tn_fontface{display:inline-block;*display:inline;zoom:1;width:12px;height:6px;}.con{overflow:visible}ul
li{list-style:none}.input_select ul
li{text-align:left;padding-left:10px;line-height:26px;cursor:pointer}.input_select ul li:hover{background:#d9eeff}.f12{font-size:12px}.w_88{width:88px}.w_120{width:120px}.text_l{text-align:left}.text_r{text-align:right}.text_c{text-align:center}i{font-style:normal}.clearfix{zoom:1}.icon{background:url("//ssl2.tuniucdn.com/img/201510132038/boss3_driver/zijia_icon.png") 0 0 no-repeat;display:inline-block}.arrow_up_icon{position:absolute;top:-6px;left:260px;background-position:-32px -202px;width:16px;height:6px}.input_select{position:relative;height:26px;line-height:26px;display:inline-block}.input_select
.s_cnum{position:relative;float:left;background-position:28px -338px;border:1px
solid #ccc;background-color:#fff;width:49px;height:24px;line-height:24px;padding:0
10px;cursor:pointer;text-align:left}.input_select.w_120
.s_cnum{width:100px}.input_select
.sc_arrow{position:absolute;right:5px;top:10px;display:block;width:0;height:0;border-width:6px 5px 0 5px;border-color:#999 transparent transparent transparent;border-style:solid}.input_select
.s_clist{position:absolute;top:26px;left:0;display:none;background-color:#fff;border:1px
solid #ccc;width:67px;overflow-y:auto;overflow-x:hidden;z-index:1;height:auto;max-height:158px}.input_select.w_120
.s_clist{width:120px}.border_b{border-bottom:1px solid #ddd}.green{color:#2e9900;cursor:pointer}.input_select .s_clist li.date-s{width:120px}ul li
span{color:#333;font-size:14px}body{font-family:'微软雅黑';font-size:12px}.wrapper{width:1000px;margin:0
auto;overflow:hidden}.wrapper
.content{float:left;width:798px}.content{width:1000px;margin:0
auto;position:relative}.border_b
.header{font-size:14px;color:#666;padding:10px
0 15px;font-weight:normal}.select_area{position:relative;top:8px}.con .col1,.con .col2,.con .col3,.con .col4,.con
.col5{display:inline-block;*display:inline;*zoom:1;line-height:50px}.area_detail{display:none;background-color:#fffceb;border:1px
solid #ffdbb2;border-width:1px 0;padding:20px
25px;color:#666;font-size:14px;position:relative}.area_detail
dl{overflow:hidden;line-height:24px}.area_detail dl dt,.area_detail dl
dd{float:left}.area_detail dl.ul_list dt,.area_detail dl.ul_list
dd{float:none}.area_detail dl
dt{font-weight:bold}.ul_list
dd{margin-left:15px}