
#dingwei{
    width:750px;
    height:478px;
    display:block;
    position: absolute;
    top:62%;
    left:50%;
    margin-left:-350px;
    margin-top:-300px;
    z-index: 2;
}
.modal-dialog {
    position: relative;
    z-index: 1050;
    /*width: auto;*/
    margin: 10px;
}
.modal-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}
.modal-header {
    height: 5%;
    min-height: 16.428571429px;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
button, select {
    text-transform: none;
    margin: 0;
}
.modal-title {
    margin: 0;
    line-height: 1.428571429;
}
h4, .h4 {
    font-size: 18px;
}
.modal-body {
    height: 77%;
    position: relative;
    padding: 0px 10px;
}
.modal-footer {
    height: 30%;
    padding: 8px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.modal-footer:after {
    clear: both;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.table-td {
    padding-top:10px;
}
.btn-default:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.input-group {
    position: relative;
    display: table;
    width: 200px;
    border-collapse: separate;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control {
    display: block;
    width: 101%;
    /*height: 20px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group-btn {
    position: relative;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.body-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}
.view-ul {
    height:250px; list-style:none;margin:0;padding:0; overflow:auto;
}
.span3 {
    height: 200px;margin-left: 15px;margin-bottom:3px; float: left; margin-right: 4px;
}

.fieldset-img {
    height: 266px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.fieldset-legend {
    font-size: 14px;
    color: rgb(35, 247, 142);
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}