<div class="produc_main" ng-controller="scenicListCtrl">
    <header class="produ_lis_header">
        <div class="pro_header_main" ng-click="hideFooter()">
                <span class="gty_left">
                    <a ui-sref="index"><i class="icon icon-home3"></i></a>
                    <i class="icon icon-search5" style="top: -42px;margin-left: 50px;" ng-click="goToSearch()"></i>
                </span>
                <span class="gty_center">
                    {{cityName}}&nbsp;&nbsp;门票
                </span>
            <span class="gty_right"><i class="icon icon-mine" ng-click="personal()"></i></span>
        </div>
    </header>
    <div class="produc_section" style="margin-top: 52px;background-color: white;">

        <!--<div class="top_list">
            <ul>
                <li class="top_list_bg">门票</li>
                <li id="zizhuLi" ng-click="tabChange(2)">自助游</li>
                <li id="zijiaLi" ng-click="tabChange(3)">自驾游</li>
                <li id="gentuanLi" ng-click="tabChange(4)">跟团游</li>
            </ul>
        </div>-->
        <style>
            .swiper-container {position:fixed;top:45px;left:0px;border-bottom:1px solid #ccc;width:100%;background-color:#fff;z-index:300}
            .swiper-slide {width:75px;}
            .swiper-slide span{padding:5px 0;display:block;height:42px;line-height:35px;float:left;width:100%;text-align:center;font-size:15px;}
            .swiper-wrapper{width:100%;}

        </style>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                 <div class="swiper-slide" style="width:75px;">
                     <span id="jingpinLi" ng-click="tabChange(1)">精品定制</span>
                 </div>
                 <div class="swiper-slide" style="width:75px;">
                    <span id="zizhuLi" ng-click="tabChange(2)">自助游</span>
                 </div>
                 <div class="swiper-slide" style="width:75px;">
                    <span id="zijiaLi" ng-click="tabChange(3)">自驾游</span>
                 </div>
                 <div class="swiper-slide" style="width:75px;">
                    <span id="gentuanLi" ng-click="tabChange(4)">跟团游</span>
                 </div>
                 <div class="swiper-slide" style="width:75px;">
                     <span class="top_list_bg">门票</span>
                     <!--<span>邮轮</span>-->
                 </div>
             </div>
         </div>

         <!--精品定制-->
        <div class="produc_contain" style="display:block;margin-top: 88px;" infinite-scroll="getScenicList()" infinite-scroll-distance='1' infinite-scroll-disabled='loading'>
            <div class="produc_contain_detail clearfix" style="border-bottom:1px solid #ccc;"  ng-repeat="ticket in scenicList">
                <a ui-sref="scenicDetail({scenicId:{{ticket.id}}})">
                   <span class="produc_contain_span">
                        <img bn-lazy-src="{{ticket.cover}}?imageView2/1/w/640/h/480/q/75">
                        <span style="background-color: #98d;">{{productAttr}}</span>
                    </span>
                    <ul class="produc_contain_ul">
                        <li style="font-size: 14px; height: 20px;">{{ticket.name}}</li><!--固定高度两行，字体数量需控制-->
                        <li style="height: 40px;">开放时间: {{ticket.openTime | cutByLength : 22}}</li>
                        <li style="/*margin-top: 30px;*/">
                            <span class="s_left1" ng-if="ticket.price > 0">￥</span>
                            <span class="s_left2" ng-if="ticket.price > 0"><strong>{{ticket.price}}</strong></span>
                            <span class="s_left3" ng-if="ticket.price > 0">起</span>
                            <span class="s_left4">满意度{{ticket.productScore}}%</span>

                            <!--<span class="s_left1" ng-if="ticket.price <= 0">￥</span>-->
                            <!--<span class="s_left2" ng-if="ticket.price > 0"><strong>{{ticket.price}}</strong></span>-->
                            <!--<span class="s_left3" ng-if="ticket.price > 0">起</span>-->
                            <!--<span class="s_left4">{{ticket.productScore}}%满意</span>-->
                        </li>
                    </ul>
                </a>
            </div>
            <div ng-show="loading"><div class="yuloading"><span>加载数据中...</span></div></div>
            <div ng-show="nomore" class="alert alert-danger text-center bg_loading">没有更多了...</div>
        </div>
        <!--底部固定栏-->
        <div class="produc_under">
            <ul class="produc_under_ul">
                <li id="pro_destination" ng-click="clickFooter(1)"><p class="filter-icon icon-destination2"></p>
                    <p>目的地</p></li>
                <li id="pro_daytime" ng-click="clickFooter(2)"><p class="filter-icon icon-time2"></p>
                    <p>价格区间</p></li>
                <li id="pro_selection" ng-click="clickFooter(3)"><p class="filter-icon icon-sift"></p>
                    <p>特色筛选</p></li>
                <li id="pro_order" ng-click="clickFooter(4)"><p class="filter-icon icon-sequence"></p>
                    <p>推荐筛选</p></li>
            </ul>
        </div>

        <div class="pro tank" ng-show="destinationFlag" style="display: block">
            <div class="pro_desCity_all">
                <div class="pro_desCity_top">
                    <span style="width:25%;color:#777d84;" id="desGo_cancel" ng-click="hideFooter()">取消</span>
                    <!--<span style="width:50%;color:#777d84;" id="desGo_empty" ng-click="clearDestination()">清空已选</span>-->
                    <span style="width:50%;color:#777d84;" id="desGo_empty"></span>
                    <span style="width:25%;color:#f5f5f7;float: right;" id="desGo_ensure" ng-click="searchScenicList()">确定</span>
                </div>
                <ul class="pro_province">
                    <li ng-repeat="provice in provinceList" id="province_{{provice.id}}" class="provinceClass {{provice.selectClass}}" ng-click="selectProvince(provice.id)">{{provice.name}}</li>
                </ul>
                <ul class="pro_municipality" style="display:block">
                    <!--<li ng-repeat="city in cityList" province-id="{{city.id}}"><span>{{city.name}}</span><input class="pro_desCity_check1" ng-model="x" ng-checked="city.master" ng-click="chk(city.id, city.name, x)" id="{{city.id}}" type="checkbox"></input></li>-->
                    <li ng-repeat="city in cityList" province-id="{{city.id}}">
                        <label>
                            <span>{{city.name | cutByLength:5}}</span>
                            <span class="bingo1 {{city.cityClass}}" style="float: right;line-height: 10px;margin: 10px 18px;" id="bingo_{{city.id}}"></span>
                            <input class="pro_desCity_check1" ng-model="x" ng-checked="city.master" ng-click="chk(city.id, city.name)" id="{{city.id}}" type="radio" name="citySelect">
                        </label>
                    </li>
                </ul>
            </div>
        </div>

         <!--价格区间-->
         <div class="pro_desDay tank" ng-show="priceFlag" style="display: block">
             <div class="pro_desCity_all">
                  <div class="pro_desCity_top">
                       <span style="width:25%;color:#777d84;" id="desDay_cancel" ng-click="hideFooter()">取消</span>
                       <span style="width:50%;color:#777d84;" id="desDay_empty" ng-click="clearDestination()">清空已选</span>
                       <span style="width:25%;color:#f5f5f7;" id="desDay_ensure" ng-click="searchScenicList()">确定</span>
                  </div>
                 <ul class="pro_desSel_ul" data-data-index="2" data-change="0">
                     <label><li class="filter-data default  active"><span>不限</span><span class="bingo1" id="price0" style="float: right;line-height: 26px;padding: 0px 9px;"></span><input type="radio" name="priceRadio" class="pro_desCity_check pro_desCity_radio" ng-model="price" value="0"  ng-click="checkPrice(0)"></li></label>
                     <label><li class="filter-data" data-index="0"><span>￥0 ~ ￥50</span><span class="bingo1" id="price1" style="float: right;line-height: 26px;padding: 0px 9px;"></span><input type="radio" name="priceRadio" class="pro_desCity_check pro_desCity_radio" ng-model="price" value="1" ng-click="checkPrice(1)"></i></li></label>
                     <label><li class="filter-data" data-index="1"><span>￥50 ~ ￥100</span><span class="bingo1" id="price2" style="float: right;line-height: 26px;padding: 0px 9px;"></span><input type="radio" name="priceRadio" class="pro_desCity_check pro_desCity_radio" ng-model="price" value="2" ng-click="checkPrice(2)"></i></li></label>
                     <label><li class="filter-data" data-index="2"><span>￥100以上</span><span class="bingo1" id="price3" style="float: right;line-height: 26px;padding: 0px 9px;"></span><input type="radio" name="priceRadio" class="pro_desCity_check pro_desCity_radio" ng-model="price" value="3" ng-click="checkPrice(3)"></i></li></label>
                 </ul>
             </div>
         </div>
         <!--特色筛选页面-->
         <div class="pro_desSel tank" ng-show="featuresFlag" style="display: block">
             <div class="pro_desCity_all">
                 <div class="pro_desCity_top">
                       <span style="width:25%;color:#777d84;" id="desSel_cancel" ng-click="hideFooter()">取消</span>
                       <span style="width:50%;color:#777d84;" id="desSel_empty" ng-click="clearDestination()">清空已选</span>
                       <span style="width:25%;color:#f5f5f7;" id="desSel_ensure" ng-click="searchScenicList()">确定</span>
                  </div>
             </div>

             <div class="pro_desDay_picture"><span>景区主题</span></div>
             <ul class="pro_desDay_ul">
                 <label>
                     <li>
                         <span class="pro_desDay_green pro_desDay_num">不限</span>
                         <span class="bingo1" id="theme0" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" checked="checked" ng-model="theme0" ng-click="checkTheme(0, 'all', theme0)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">休闲度假</span>
                         <span class="bingo1" id="theme1" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme1" ng-click="checkTheme(1, '休闲度假', theme1)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">海滨/沙滩</span>
                         <span class="bingo1" id="theme2" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme2" ng-click="checkTheme(2, '海滨/沙滩', theme2)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">特色街区</span>
                         <span class="bingo1" id="theme3" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme3" ng-click="checkTheme(3, '特色街区', theme3)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">山岳/山岭</span>
                         <span class="bingo1" id="theme4" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme4" ng-click="checkTheme(4, '山岳/山岭', theme4)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">博物馆</span>
                         <span class="bingo1" id="theme5" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme5" ng-click="checkTheme(5, '博物馆', theme5)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">历史建筑</span>
                         <span class="bingo1" id="theme6" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme6" ng-click="checkTheme(6, '历史建筑', theme6)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">古迹</span>
                         <span class="bingo1" id="theme7" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme7" ng-click="checkTheme(7, '古迹', theme7)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">古镇/古村</span>
                         <span class="bingo1" id="theme8" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme8" ng-click="checkTheme(8, '古镇/古村', theme8)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">滑雪场</span>
                         <span class="bingo1" id="theme9" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme9" ng-click="checkTheme(9, '滑雪场', theme9)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">故居</span>
                         <span class="bingo1" id="theme10" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme10" ng-click="checkTheme(10, '故居', theme10)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">民风民俗</span>
                         <span class="bingo1" id="theme11" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme11" ng-click="checkTheme(11, '民风民俗', theme11)"></li></label>
                 <label>
                     <li>
                         <span class="pro_desDay_num">骑行</span>
                         <span class="bingo1" id="theme12" style="float: right;line-height: 26px;"></span>
                         <input class="feature_check" type="checkbox" ng-model="theme12" ng-click="checkTheme(12, '骑行', theme12)"></li></label>
             </ul>
         </div>
         <!--推荐筛选页面-->
         <div class="pro_desOrd tank" ng-show="adviseFlag" style="display: block">
             <div class="pro_desCity_all">
                 <div class="pro_desCity_top">
                       <span style="width:25%;color:#777d84;" id="desOrd_cancel" ng-click="hideFooter()">取消</span>
                       <span style="width:50%;color:#777d84;" id="desOrd_empty" ng-click="clearDestination()">清空已选</span>
                       <span style="width:25%;color:#f5f5f7;" id="desOrd_ensure" ng-click="searchScenicList()">确定</span>
                  </div>
             </div>
             <ul class="pro_desSel_ul">
                 <label><li class="pro_desSel_bg"><span>推荐排序</span>
                     <span class="bingo1" id="sort0" style="float: right;line-height: 26px;"></span>
                     <input class="pro_desCity_check pro_desCity_radio" type="radio" name="sort" ng-model="sort" value="0" ng-click="checkSort(0)"></li></label>
                 <label><li><span>30天销量最高</span>
                     <span class="bingo1" id="sort1" style="float: right;line-height: 26px;"></span>
                     <input class="pro_desCity_check pro_desCity_radio" type="radio" name="sort" ng-model="sort" value="1" ng-click="checkSort(1)"></li></label>
                 <label><li><span>满意度最高</span>
                     <span class="bingo1" id="sort2" style="float: right;line-height: 26px;"></span>
                     <input class="pro_desCity_check pro_desCity_radio" type="radio" name="sort" ng-model="sort" value="2" ng-click="checkSort(2)"></li></label>
                 <label><li><span>价格从高到低</span>
                     <span class="bingo1" id="sort3" style="float: right;line-height: 26px;"></span>
                     <input class="pro_desCity_check pro_desCity_radio" type="radio" name="sort" ng-model="sort" value="3" ng-click="checkSort(3)"></li></label>
                 <label><li><span>价格从低到高</span>
                     <span class="bingo1" id="sort4" style="float: right;line-height: 26px;"></span>
                     <input class="pro_desCity_check pro_desCity_radio" type="radio" name="sort" ng-model="sort" value="4" ng-click="checkSort(4)"></li></label>
             </ul>
         </div>
        <div class="list_shade" style="position: fixed;" ng-show="darkShow" ng-click="hideFooter()"></div>
        </div>
    </div>
</div>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        slidesPerView: 4,
        initialSlide :2,
        loop: false,
        pagination: '.swiper-pagination',
        freeMode: true,
    })
</script>
