/*!
 * 申请分销商 v0.1
 * Author Jeffrey.
 * Copyright 2011-2015.
 */


.xieyi-content{height:200px; overflow-y:scroll; overflow-x:hidden; border:1px solid #ddd; padding:20px;}
.form-control-static input.btn{width:150px; height:50px; margin-right:20px;}
