.icon-account2:before {
    content: "\e6bc"
}

.icon-financial:before {
    content: "\e6bd"
}

.icon-home2:before {
    content: "\e6be"
}

.icon-order3:before {
    content: "\e6bf"
}

.icon-tour:before {
    content: "\e6c0"
}

.icon-around:before {
    content: "\e6b8"
}

.icon-cowboy:before {
    content: "\e6b9"
}

.icon-island:before {
    content: "\e6ba"
}

.icon-overseas:before {
    content: "\e6bb"
}

.icon-foot:before {
    content: "\e6b6"
}

.icon-intro:before {
    content: "\e6b7"
}

.icon-money:before {
    content: "\e6b5"
}

.icon-close:before {
    content: "\e6b0"
}

.icon-sure:before {
    content: "\e6b1"
}

.icon-alarm:before {
    content: "\e6b2"
}

.icon-camera:before {
    content: "\e6b3"
}

.icon-comment2:before {
    content: "\e6b4"
}

.icon-interationalhotel:before {
    content: "\e6af"
}

.icon-location:before {
    content: "\e6ad"
}

.icon-tel:before {
    content: "\e6ae"
}

.icon-IDcard:before {
    content: "\e6ab"
}

.icon-visa3:before {
    content: "\e6ac"
}

.icon-photo2:before {
    content: "\e6aa"
}

.icon-flighticon:before {
    content: "\e6a9"
}

.icon-seat11:before {
    content: "\e6a7"
}

.icon-flight:before {
    content: "\e6a8"
}

.icon-item1:before {
    content: "\e6a4"
}

.icon-rule1:before {
    content: "\e6a5"
}

.icon-spot1:before {
    content: "\e6a6"
}

.icon-edit:before {
    content: "\e6a2"
}

.icon-friends:before {
    content: "\e6a3"
}

.icon-presell:before {
    content: "\e6a0"
}

.icon-trainticket:before {
    content: "\e6a1"
}

.icon-clock:before {
    content: "\e69b"
}

.icon-order2:before {
    content: "\e69c"
}

.icon-star1:before {
    content: "\e69d"
}

.icon-ticket2:before {
    content: "\e69e"
}

.icon-wechat:before {
    content: "\e69f"
}

.icon-down3:before {
    content: "\e699"
}

.icon-up2:before {
    content: "\e69a"
}

.icon-share:before {
    content: "\e698"
}

.icon-dropdown1:before {
    content: "\e695"
}

.icon-dropdown2:before {
    content: "\e696"
}

.icon-select2:before {
    content: "\e697"
}

.icon-search2:before {
    content: "\e694"
}

.icon-comment:before {
    content: "\e68e"
}

.icon-eye:before {
    content: "\e68f"
}

.icon-like_nor:before {
    content: "\e690"
}

.icon-like_select:before {
    content: "\e691"
}

.icon-photo:before {
    content: "\e692"
}

.icon-reply:before {
    content: "\e693"
}

.icon-train2:before {
    content: "\e68d"
}

.icon-arrow2:before {
    content: "\e68a"
}

.icon-travel1:before {
    content: "\e68b"
}

.icon-travel2:before {
    content: "\e68c"
}

.icon-price2:before {
    content: "\e686"
}

.icon-sift:before {
    content: "\e687"
}

.icon-take:before {
    content: "\e688"
}

.icon-time2:before {
    content: "\e689"
}

.icon-down2:before {
    content: "\e685"
}

.icon-visa:before {
    content: "\e684"
}

.icon-spot:before {
    content: "\e675"
}

.icon-transform:before {
    content: "\e680"
}

.icon-pub:before {
    content: "\e683"
}

.icon-rule:before {
    content: "\e681"
}

.icon-item:before {
    content: "\e682"
}

.icon-australia:before {
    content: "\e677"
}

.icon-hongkong:before {
    content: "\e678"
}

.icon-japanandsouthkorea:before {
    content: "\e679"
}

.icon-southeastasia:before {
    content: "\e67a"
}

.icon-theamericas:before {
    content: "\e67b"
}

.icon-theeuropean:before {
    content: "\e67c"
}

.icon-themaldives:before {
    content: "\e67d"
}

.icon-travelaround:before {
    content: "\e67e"
}

.icon-traveldomestic:before {
    content: "\e67f"
}

.icon-company:before {
    content: "\e676"
}

.icon-add:before {
    content: "\e62c"
}

.icon-caution:before {
    content: "\e671"
}

.icon-direct:before {
    content: "\e672"
}

.icon-port:before {
    content: "\e673"
}

.icon-subtraction:before {
    content: "\e674"
}

.icon-hotel2:before {
    content: "\e66a"
}

.icon-independent:before {
    content: "\e66b"
}

.icon-mailboat:before {
    content: "\e66c"
}

.icon-road:before {
    content: "\e66d"
}

.icon-team:before {
    content: "\e66e"
}

.icon-ticket:before {
    content: "\e66f"
}

.icon-wifi:before {
    content: "\e670"
}

.icon-visa2:before {
    content: "\e669"
}

.icon-support:before {
    content: "\e63a"
}

.icon-security:before {
    content: "\e668"
}

.icon-businessvista:before {
    content: "\e647"
}

.icon-fridentsvista:before {
    content: "\e65a"
}

.icon-monthvista:before {
    content: "\e663"
}

.icon-personvista:before {
    content: "\e666"
}

.icon-processvista:before {
    content: "\e667"
}

.icon-account:before {
    content: "\e63b"
}

.icon-calendar:before {
    content: "\e63c"
}

.icon-call:before {
    content: "\e63d"
}

.icon-cellphone:before {
    content: "\e63e"
}

.icon-email:before {
    content: "\e63f"
}

.icon-pass:before {
    content: "\e640"
}

.icon-password:before {
    content: "\e641"
}

.icon-pencil:before {
    content: "\e642"
}

.icon-read:before {
    content: "\e643"
}

.icon-remind:before {
    content: "\e644"
}

.icon-search:before {
    content: "\e645"
}

.icon-write:before {
    content: "\e646"
}

.icon-font-sale:before {
    content: "\e638"
}

.icon-iPhone:before {
    content: "\e639"
}

.icon-choice:before {
    content: "\e630"
}

.icon-no-choice:before {
    content: "\e633"
}

.icon-plane:before {
    content: "\e635"
}

.icon-ship:before {
    content: "\e636"
}

.icon-train:before {
    content: "\e637"
}

.icon-collect:before {
    content: "\e631"
}

.icon-coupon:before {
    content: "\e632"
}

.icon-telephone:before {
    content: "\e634"
}

.icon-slip:before {
    content: "\e623"
}

.icon-place2:before {
    content: "\e62f"
}

.icon-group:before {
    content: "\e622"
}

.icon-love:before {
    content: "\e62d"
}

.icon-star:before {
    content: "\e62e"
}

.icon-prompt:before {
    content: "\e605"
}

.icon-book:before {
    content: "\e620"
}

.icon-chart:before {
    content: "\e621"
}

.icon-preferential:before {
    content: "\e624"
}

.icon-questions:before {
    content: "\e625"
}

.icon-shopping:before {
    content: "\e626"
}

.icon-traffic:before {
    content: "\e627"
}

.icon-trip:before {
    content: "\e628"
}

.icon-bus:before {
    content: "\e62a"
}

.icon-feature:before {
    content: "\e62b"
}

.icon-more1:before {
    content: "\e61f"
}

.icon-zoomout:before {
    content: "\e61d"
}

.icon-more:before {
    content: "\e61e"
}

.icon-password2:before {
    content: "\e61c"
}

.icon-arrow-left:before {
    content: "\e619"
}

.icon-arrow-down:before {
    content: "\e61a"
}

.icon-arrow-up:before {
    content: "\e61b"
}

.icon-logo:before {
    content: "\e618"
}

.icon-down:before {
    content: "\e616"
}

.icon-up:before {
    content: "\e617"
}

.icon-back:before {
    content: "\e600"
}

.icon-destination:before {
    content: "\e611"
}

.icon-choose:before {
    content: "\e612"
}

.icon-arrow:before {
    content: "\e613"
}

.icon-plane2:before {
    content: "\e614"
}

.icon-price:before {
    content: "\e615"
}

.icon-order:before {
    content: "\e609"
}

.icon-opinion:before {
    content: "\e60a"
}

.icon-luck:before {
    content: "\e60b"
}

.icon-home:before {
    content: "\e60c"
}

.icon-history:before {
    content: "\e60d"
}

.icon-delete:before {
    content: "\e60e"
}

.icon-coupons:before {
    content: "\e60f"
}

.icon-Collection:before {
    content: "\e610"
}

.icon-time:before {
    content: "\e601"
}

.icon-place:before {
    content: "\e602"
}

.icon-hamburger:before {
    content: "\e603"
}

.icon-search-small:before {
    content: "\e604"
}

.icon-new:before {
    content: "\e606"
}

.icon-people:before {
    content: "\e607"
}

.icon-search-big:before {
    content: "\e608"
}

.icon-book-help:before {
    content: "\e664"
}

.icon-popup-closed:before {
    content: "\e665"
}

.icon-font-fan:before {
    content: "\e65b"
}

.icon-title-back:before {
    content: "\e65d"
}

.icon-font-mortgage:before {
    content: "\e65e"
}

.icon-font-cash:before {
    content: "\e65f"
}

.icon-font-early:before {
    content: "\e660"
}

.icon-no-select:before {
    content: "\e661"
}

.icon-select:before {
    content: "\e662"
}

.icon-addcard:before {
    content: "\e659"
}

.icon-card:before {
    content: "\e65c"
}

.icon-hotel:before {
    content: "\e658"
}

.icon-go:before {
    content: "\e657"
}

.icon-back2:before {
    content: "\e655"
}

.icon-return:before {
    content: "\e656"
}

.icon-exercise:before {
    content: "\e64a"
}

.icon-massage:before {
    content: "\e64b"
}

.icon-meet:before {
    content: "\e64c"
}

.icon-park:before {
    content: "\e64d"
}

.icon-plane22:before {
    content: "\e64e"
}

.icon-playground:before {
    content: "\e64f"
}

.icon-spa:before {
    content: "\e650"
}

.icon-swimming:before {
    content: "\e651"
}

.icon-water:before {
    content: "\e652"
}

.icon-westernfood:before {
    content: "\e653"
}

.icon-wifi2:before {
    content: "\e654"
}

.icon-popup-help:before {
    content: "\e648"
}

.icon-popup-info:before {
    content: "\e649"
}

.icon-route:before {
    content: "\e629"
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.rmb {
    font-family: "微软雅黑"
}

.dot {
    font-family: "微软雅黑"
}

html {
    font-size: 10px;
    font-family: "黑体"
}

a {
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: transparent
}

a:visited {
    color: #666
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

input, select, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.1rem;
    font-weight: 400
}

.icon {
    position: relative;
    top: 1px;
    margin-right: 2px
}

del {
    font-family: "Arial"
}

input, button, select, textarea {
    outline: none
}

textarea {
    resize: none
}

.wrapper {
    position: relative;
    padding-top: 45px;
    font-family: "Arial 黑体";
    width: 100%;
    background-color: #f0f0f0
}

.wrapper.no_padding {
    padding-top: 0
}

.header-box {
    background-color: #f4f4f4;
    height: 44px;
    border-bottom: #d4d4d4 1px solid;
    line-height: 44px
}

.header-box.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%
}

.header-box.fixed
i {
    color: #33bd61
}

.header-box .header-back {
    position: absolute;
    margin-left: 10px;
    font-size: 1.6rem
}

.header-box .header-action {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 1.6rem
}

.header-box
h1 {
    text-align: center;
    font-size: 1.6rem
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


strong {
    font-weight: bold
}

a {
    text-decoration: none
}

.wrapper {
    position: static;
    font-family: Arial, "SimHei", sans-serif;
    background-color: transparent;
    min-height: 100%
}

.hidden, .hide {
    display: none !important
}

#tnAjaxDialog {
    -webkit-transform: scale(0.6) !important;
    -ms-transform: scale(0.6) !important;
    transform: scale(0.6) !important
}

body .dialog-box {
    border-radius: 8px
}

.dialog-box .dialog-body {
    padding: 10px
}

.dialog-box .dialog-footer {
    height: 40px
}

.dialog-box .dialog-ok, .dialog-box .dialog-cancel {
    line-height: 40px
}

@media screen and (min-width: 640px) {
    body .dialog-box {
        width: 320px;
        margin-left: -160px
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background: #fff
}

.loading
.spinner {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 68px;
    height: 68px;
    text-align: center;
    margin-left: -34px;
    background: -webkit-gradient(radial, 100% 50%, 0, 100% -38%, 100, from(#33bd61), to(rgba(255, 255, 255, 0)));
    border-radius: 100%;
    -webkit-animation: rotate 2s linear 0s infinite;
    -moz-animation: rotate 2s linear 0s infinite;
    animation: rotate 2s linear 0s infinite
}

.loading .spinner .spinner-inner {
    position: relative;
    top: 3px;
    left: 3px;
    width: 62px;
    height: 62px;
    background: #fff;
    border-radius: 100%
}

.loading .spinner
.cutout {
    position: absolute;
    top: 34px;
    left: 35px;
    border-right: 34px solid #fff;
    border-bottom: 34px solid #fff;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 34px;
    -webkit-border-bottom-left-radius: 0px;
    width: 0em;
    height: 0em;
    padding: 0
}

.loading .spinner .s-circle {
    width: 3px;
    height: 3px;
    background: #33bd61;
    position: absolute;
    top: 33px;
    right: 0;
    border-radius: 3px
}

.loading .loading-logo {
    position: absolute;
    line-height: 1;
    top: 214px;
    left: 50%;
    margin-left: -20px;
    color: #33bd61;
    font-size: 40px;
    opacity: 0.8
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.loading {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    background: transparent
}

* {
    box-sizing: border-box
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 4px;
    line-height: 1;
    padding: 10px 15px;
    font-size: 1.6rem;
    outline: none
}

.btn.btn-primary {
    color: #fff;
    background-color: #3BBC65
}

.btn.btn-warn {
    color: #fff;
    background-color: #FC7823
}

.btn.btn-light {
    color: #666;
    background-color: #F0F0F0
}

.btn.block {
    display: block
}

.btn-group {
    padding: 5px 5px 10px
}

.btn-group .btn + .btn {
    margin-top: 8px
}

.form-banner {
    border-top: 1px solid #d4d4d4;
    line-height: 2.5;
    text-align: center
}

.form-banner
a {
    color: #349A1A
}

.banner-li {
    position: relative;
    float: left;
    width: 33%
}

.banner-li
span {
    float: right;
    width: 1px;
    height: 22px;
    background-color: #d4d4d4;
    margin: 5px 0
}

.form-hotelname {
    color: #000
}

.form-hotelname label, .form-hotelname
span {
    font-size: 1.6rem
}

.form-input {
    display: table;
    line-height: 1.8;
    color: #999
}

.detail-card-order .form-input {
    color: #666
}

.form-input label, .form-input
span {
    display: table-cell;
    font-size: 1.4rem
}

.form-input
.price {
    font-family: "microsoft yahei"
}

.form-input
label {
    white-space: nowrap
}

.content {
    padding: 0 5px 55px 5px
}

.detail-title {
    position: relative;
    display: block;
    border-bottom: 1px solid #e0e0e0
}

.detail-title:active {
    background: #ccc
}

.detail-title
h2 {
    font-size: 1.5rem;
    color: #666;
    padding: 10px 30px 10px 10px
}

.detail-title .icon-arrow {
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -0.6rem;
    color: #999
}

.detail-card {
    padding: 0px 0 10px
}

.detail-card .detail-card-title {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    padding: 10px 8px;
    background-color: #fff
}

.detail-card .detail-card-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.4em;
    height: 0.8em;
    width: 3px;
    background: #3BBC65
}

.bottom-service {
    padding-bottom: 5px
}

.detail-card .detail-card-content {
    padding: 5px 10px 5px 12px;
    background-color: white;
    position: relative
}

.detail-card-content .arrow-up {
    position: absolute;
    bottom: 4px;
    right: 14px;
    content: '';
    width: 8px;
    height: 8px;
    margin: 4px;
    border-bottom: 1px solid #676767;
    border-left: 1px solid #676767;
    -webkit-transform: rotate(135deg) translateY(-50%);
    -moz-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    -o-transform: rotate(45deg) translateY(-50%);
    display: block
}

.detail-card-content .arrow-down {
    position: absolute;
    bottom: 4px;
    right: 14px;
    content: '';
    width: 8px;
    height: 8px;
    margin: 4px;
    border-bottom: 1px solid #676767;
    border-right: 1px solid #676767;
    transform: rotate(45deg) translateY(-50%);
    -webkit-transform: rotate(45deg) translateY(-50%);
    -moz-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    -o-transform: rotate(45deg) translateY(-50%);
    display: block
}

.detail-card .detail-card-content .detail-notice {
    color: red;
    font-size: 1rem
}

.detail-card .detail-card-content .form-ticket {
    border: 1px solid #349A1A;
    width: 60%;
    height: 30px;
    color: #349A1A;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin: 0 auto
}

.online-service {
    display: none;
    border: 1px solid #349A1A;
    width: 60%;
    height: 30px;
    color: #349A1A;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 8px
}

.online-service:visited {
    color: #349A1A
}

.icontn {
}

.detail-card .detail-data .data-inout {
    color: #000;
    font-size: 1.8rem
}

.detail-nights
p {
    border: 1px solid #d4d4d4
}

.detail-arrivetime {
    display: block;
    text-align: center
}

.detail-warm-notice {
    display: inline-block;
    margin-top: 2%;
    width: 100%
}

.detail-warm-notice-new {
    margin-top: 5px;
    border-top: 1px solid #d4d4d4;
    font-size: 1rem;
    width: 100%;
    line-height: 2.5
}

.order-again-button {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px solid #d4d4d4;
    font-size: 1.5rem;
    color: #666
}

.detail-cancel-title {
    background-color: #f80;
    color: white;
    display: inline;
    padding: 1px 1px;
    border-radius: 4px;
    margin-right: 2px
}

.detail-cancel-title.can {
    color: #fff
}

.detail-cancel-content {
    display: block;
    color: #999
}

.detail-cancel-content.more {
    display: block;
    color: #999
}

.detail-more, .detail-less, .detail-more-order, .detail-less-order {
    text-align: center;
    color: #33bd61
}

.money-detail {
    float: right;
    padding-right: 15px
}

.arrow-right {
    width: 10px;
    height: 10px;
    border-top: 1px solid #676767;
    border-right: 1px solid #676767;
    transform: rotate(45deg) translateY(-50%);
    -webkit-transform: rotate(45deg) translateY(-50%);
    -moz-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    -o-transform: rotate(45deg) translateY(-50%);
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 10px
}

.form-input-order
label {
    width: 90px
}

.detail-card-list {
    overflow: hidden
}

.detail-card-list
li {
    float: left;
    width: 50%;
    line-height: 25px
}

.form-list .form-input
label {
    width: 90px
}

.form-list .form-input
span {
}

.price-back {
    padding-left: 10%
}

.bottom {
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    font-size: 1.6rem;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    line-height: 39px
}

.bottom .pay-total-price
.price {
    font-size: 1.6rem;
    margin-left: 10px;
    color: #ff7c70
}

.bottom
.detail {
    font-size: 1.4rem;
    color: #33bd61;
    text-decoration: underline;
    position: relative;
    left: 2%
}

.bottom .submit-btn {
    height: 100%;
    width: 31%;
    background-color: #ff7c70;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    float: right;
    margin-right: 6%;
    border-radius: 3px
}

.refund-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    display: none;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center
}

.refund-info {
    width: 80%;
    border-radius: 8px;
    background-color: #fff;
    position: relative
}

.refund-info
.title {
    height: 56px;
    font-size: 18px;
    line-height: 56px;
    display: block;
    text-align: center;
    color: #222;
    border-bottom: 1px solid #d4d4d4;
    font-weight: 600
}

.refund-info
.content {
    padding: 40px 12px 30px;
    position: relative
}

.refund-info .content
.amount {
    position: absolute;
    display: block;
    font-size: 14px;
    color: #FF6262;
    left: 30px;
    top: 15px
}

.refund-info .detail-items {
    position: relative
}

.refund-info .detail-items:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 12px;
    display: block;
    width: 1px;
    height: 95px;
    background-color: #c0c0c0
}

@media screen and (min-width: 395px) {
    .refund-info .detail-items:before {
        height: 75px
    }
}

.refund-info .detail-items.active:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 12px;
    display: block;
    width: 1px;
    height: 50px;
    background-color: #c0c0c0
}

.refund-info .detail-items
.item {
    line-height: 24px;
    font-size: 14px;
    color: #999;
    padding-left: 18px;
    position: relative
}

.outer {
    position: absolute;
    display: block;
    left: 0;
    top: 7px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 50%
}

.inner {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    background-color: #c0c0c0;
    border-radius: 50%;
    margin: -3px 0 0 -3px
}

.item.already
.outer {
    border-color: rgba(51, 189, 97, 0.5)
}

.item.already
.inner {
    background-color: #33bd61
}

.refund-info .detail-items
.item.already {
    color: #222
}

.refund-info .close-wrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 18px;
    top: 17px
}

.refund-info
.close {
    display: block;
    width: 22px;
    height: 1px;
    background-color: #33bd61;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    top: 10px
}

.refund-info .close:after {
    content: '';
    position: absolute;
    display: block;
    width: 22px;
    height: 1px;
    background-color: #33bd61;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.order-status {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    height: 41px;
    line-height: 30px;
    margin-bottom: 10px;
    border-bottom: solid 1px #d4d4d4;
    padding: 5px 5px
}

.status-desc {
    float: left
}

.status-desc:before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    background: #c0c0c0;
    width: 8px;
    height: 8px;
    border-radius: 50%
}

.oncall {
    display: none;
    position: absolute;
    top: 160px;
    left: 30%;
    width: 55%;
    height: 80px;
    text-align: center;
    margin-left: -34px;
    border: solid 1px #d4d4d4;
    background-color: #fff;
    z-index: 2;
    line-height: 40px
}

.callTip {
    height: 40px;
    border-bottom: solid 1px #d4d4d4;
    font-weight: bold
}

.cancel-tel {
    display: inline-block;
    float: left;
    width: 50%
}

#phonenumber {
    display: inline-block;
    width: 50%;
    float: right;
    border-left: solid 1px #d4d4d4;
    color: #349A1A
}

#phonenumber:visited {
    color: #349A1A
}

html, body {
}

#detail.pb-60 {
    padding-bottom: 58px
}

.mt-10 {
    margin-top: 10px
}

.orderDetail-status {
    position: relative;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05)
}

.orderDetail-status
.statu {
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
    font-size: 1.4rem
}

.orderDetail-status .statu-cancel {
    margin-top: 8px;
    padding: 10px 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 0 none;
    background-color: #e0e0e0
}

.orderDetail-status .refund-link {
    position: absolute;
    top: 21px;
    right: 12px;
    font-size: 1.2rem;
    text-decoration: underline
}

.orderDetail-steps {
    padding: 12px 0 8px 0
}

.orderDetail-steps .steps-list {
    display: -webkit-box
}

.orderDetail-steps
li {
    -webkit-box-flex: 1.0;
    position: relative;
    width: 25%;
    overflow: visible;
    font-size: 1.2rem;
    text-align: center
}

.orderDetail-steps
.line {
    position: absolute;
    display: block;
    height: 4px;
    overflow: hidden;
    background-color: #f3f5f8
}

.orderDetail-steps
.num {
    position: relative;
    z-index: 2;
    display: block;
    width: 9%;
    height: 0;
    margin: 0 auto;
    padding-bottom: 9%;
    border: 3px solid #b9b9b9;
    box-sizing: content-box;
    border-radius: 100%;
    background-color: #fff
}

.orderDetail-steps li.cur:nth-child(1) .num {
    -webkit-animation: myfirst .2s
}

.orderDetail-steps li.cur:nth-child(2) .num {
    -webkit-animation: myfirst .3s
}

.orderDetail-steps li.cur:nth-child(3) .num {
    -webkit-animation: myfirst .5s
}

.orderDetail-steps li.cur:nth-child(4) .num {
    -webkit-animation: myfirst .8s
}

.orderDetail-steps li.cur:nth-child(1) .line {
    -webkit-animation: myfirstline .2s
}

.orderDetail-steps li.cur:nth-child(2) .line {
    -webkit-animation: myfirstline .3s
}

.orderDetail-steps li.cur:nth-child(3) .line {
    -webkit-animation: myfirstline .5s
}

.orderDetail-steps li.cur:nth-child(4) .line {
    -webkit-animation: myfirstline .8s
}

.orderDetail-steps
.line {
    top: 50%;
    left: 57%;
    width: 100%;
    margin-top: -12px
}

.orderDetail-steps li
.text {
    display: block;
    padding-top: 2px
}

.orderDetail-steps .cur
.line {
    background-color: #fca
}

.orderDetail-steps .cur
.num {
    border-color: #f60
}

.orderDetail-mod {
    overflow: hidden;
    margin: 8px 0px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05)
}

.orderDetail-mod-bd {
    padding: 8px 10px;
    font-size: 1.2rem;
    border-top: 1px solid #ddd
}

.orderDetail-mod-bd
.price {
    color: #ff7d70
}

.orderDetail-mod-hd:before {
    position: absolute;
    left: 0px;
    width: 4px;
    top: 14px;
    height: 14px;
    display: block;
    content: '';
    background: #33bd61
}

.orderDetail-mod-hd {
    padding: 10px;
    margin-left: 10px;
    font-size: 1.4rem;
    position: relative
}

.hourRoom-order-detail
.title {
    font-size: 23px;
    color: #222;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px
}

.hourRoom-order-detail .detail-checkin,
.hourRoom-order-detail .detail-checkout {
    height: auto;
    float: left;
    width: 40%;
    text-align: center;
    font-size: 16px;
    color: #666
}

.hourRoom-order-detail .detail-checkin em,
.hourRoom-order-detail .detail-checkout
em {
    font-size: 14px;
    margin-left: 10px
}

.hourRoom-order-detail .detail-nights {
    padding-top: 0;
    line-height: 14px;
    border-bottom: 2px solid #ccc
}

.hourRoom-order-detail .arrival-info {
    margin-top: 60px;
    display: table;
    width: 100%
}

.hourRoom-order-detail .arrival-info
span {
    font-size: 14px;
    color: #666;
    display: table-cell;
    box-sizing: border-box
}

.hourRoom-order-detail
.duration {
    text-align: right;
    position: relative
}

.hourRoom-order-detail .duration
i {
    position: absolute;
    right: 0px;
    width: 2px;
    top: 4px;
    height: 14px;
    display: block;
    content: '';
    background: #999
}

.hourRoom-order-detail .latest-arrival-time {
    text-align: left
}

.hotel-info
.name {
    font-size: 1.6rem
}

.hotel-info .address,
.hotel-info .tel,
.hotel-info .roomtype,
.hotel-info .maxNum,
.hotel-info .bedNum,
.hotel-info
.breakfast {
    color: #999
}

.hotel-info .bedNum span:nth-child(2n+0) {
    margin-right: 8px
}

.detail-data {
    font-size: 1.4rem
}

.detail-checkin, .detail-checkout {
    height: 48px;
    float: left;
    width: 40%;
    text-align: center
}

.detail-checkin {
    padding-left: 2%
}

.detail-checkout {
    padding-right: 2%
}

.detail-checkin em,
.detail-nights span,
.detail-checkout em, .detail-arrivetime {
    font-size: 1.2rem
}

.detail-checkin .data-inout,
.detail-checkout .data-inout {
    font-size: 2rem
}

.detail-checkin p,
.detail-checkout
p {
    line-height: 1.6em
}

.detail-nights {
    width: 20%;
    padding-top: 2.5%;
    line-height: 1.6em;
    text-align: center;
    float: left
}

.detail-nights
span {
    padding-left: 0
}

.detail-warm-notice
h3 {
    margin-bottom: 4px
}

.detail-warm-notice
p {
    line-height: 1.4em
}

.abolish-rules {
    margin: 8px 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    background-color: #e0e0e0
}

.orderDetail-action {
    display: -webkit-box;
    margin: 8px 12px
}

.action-btn {
    -webkit-box-flex: 1.0;
    width: 50%;
    height: 36px;
    margin-right: 6px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05)
}

.action-btn.disabled {
    border-color: #ddd;
    color: #fff;
    background-color: #d4d4d4;
    box-shadow: none
}

.action-btn:last-child {
    margin-right: 0
}

.abolish-rules .orderDetail-mod-bd {
    padding: 8px 16px
}

.abolish-rules-main {
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify
}

.abolish-rules-main
.mark {
    padding: .2rem .4rem;
    border-radius: .2rem;
    color: #fff;
    background-color: #ccc
}

.abolish-rules-main
.mark.free {
    background-color: #2e9900
}

.abolish-rules-main .mark.not-free {
    background-color: #f60
}

.abolish-rules-main.toggle {
    position: relative;
    padding-right: 20px
}

.abolish-rules-main.toggle:after {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'tuniu';
    color: #666;
    -webkit-font-smoothing: antialiased;
    content: '\e65d';
    position: absolute;
    right: 1px;
    bottom: -1px;
    transform: rotate(-90deg);
    transition: all .3s;
    -webkit-transform: rotate(-90deg);
    -webkit-transition: all .3s
}

.abolish-rules-main.toggle::before {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 12px;
    background-color: #e0e0e0
}

.abolish-rules-main.toggle.up:after {
    -webkit-transform: rotate(90deg)
}

.abolish-rules-main.toggle.up::before {
    content: ""
}

.cost-preferential {
    padding: 5px;
    position: relative;
    margin-bottom: 8px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    background-color: white
}

.cost-preferential
h3 {
    line-height: 1.4em;
    font-weight: bold
}

.cost-preferential
h3 {
    font-size: 1.6rem
}

.cost-preferential
p {
    font-size: 1.4rem;
    line-height: 1.4em
}

.cost-preferential
.details {
    position: absolute;
    right: 10px;
    bottom: 12px;
    padding-right: 18px;
    font-size: 1.4rem
}

.cost-preferential .details:after {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'tuniu';
    color: #666;
    -webkit-font-smoothing: antialiased;
    content: '\e65d';
    position: absolute;
    top: 2px;
    right: 0;
    transform: rotate(-90deg);
    transition: all .3s;
    -webkit-transform: rotate(-90deg);
    -webkit-transition: all .3s
}

.cost-preferential .details.up:after {
    -webkit-transform: rotate(90deg)
}

.orderDetail-info
.title {
    font-size: 1.4rem;
    margin-left: 5px;
    padding: 10px;
    position: relative
}

.orderDetail-info .title:before {
    position: absolute;
    left: 0px;
    width: 4px;
    top: 14px;
    height: 14px;
    display: block;
    content: '';
    background: #33bd61
}

.icon-popup-help {
    margin-left: .8rem;
    color: #33bd61;
    font-size: 1.6rem;
    top: 0.2rem;
    position: relative
}

.icon-popup-help:before {
    content: "\e648"
}

.whats-mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1111
}

.help-mask {
    display: -webkit-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-flex;
    display: flex
}

.help-mask
.helpWrapper {
    padding: 1rem;
    background: #fff;
    width: 74%;
    border-radius: 0.5rem
}

.helpWrapper
h1 {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.6rem
}

.helpWrapper
.content {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #666
}

.orderDetail-info
.block {
    width: 4px;
    height: 15px;
    display: inline-block;
    background: green
}

.orderDetail-infoTable {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    max-height: 44px;
    overflow: hidden
}

.orderDetail-infoTable
th {
    width: 60px
}

.orderDetail-infoTable.toggle {
    position: relative;
    padding-right: 20px
}

.orderDetail-infoTable.toggle:after {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'tuniu';
    color: #666;
    -webkit-font-smoothing: antialiased;
    content: '\e65d';
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg);
    transition: all .3s;
    -webkit-transform: rotate(-90deg);
    -webkit-transition: all .3s
}

.orderDetail-infoTable.toggle.up:after {
    -webkit-transform: rotate(90deg)
}

.operate {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    border: 1px solid #ddd;
    background: white;
    padding: 10px
}

.operate
h3 {
    font-size: 1.4rem
}

.operate-list {
    overflow: hidden;
    margin: 0 4%;
    padding: 12px 0
}

.operate-list
label {
    font-size: 1.0rem
}

.operate-list
li {
    float: left;
    width: 19%;
    text-align: center;
    margin: 3%
}

.operate-list .item-feedback
.img {
    background: url(/site/m2015/images/hotel/feedback.png) no-repeat 0px 0px;
    padding-top: 100%;
    background-size: auto 100%
}

.operate-list li
span {
    display: inline-block;
    width: 100%
}

.operate-list .form-detail
.img {
    background: url(/site/m2015/images/hotel/hotel-detail.png) no-repeat 0px 0px;
    padding-top: 100%;
    background-size: auto 100%
}

.operate-list .form-ticket
.img {
    background: url(/site/m2015/images/hotel/train-book.png) no-repeat 0px 0px;
    padding-top: 100%;
    background-size: auto 100%
}

.operate-list .form-home
.img {
    background: url(/site/m2015/images/hotel/home.png) no-repeat 0px 0px;
    padding-top: 100%;
    background-size: auto 100%
}

.online-pay {
    border-top: 1px solid #d4d4d4;
    font-size: 1.6rem;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    line-height: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.online-pay
.show_price {
    display: inline-block
}

.online-pay .pay-total-price {
    -webkit-flex: 2;
    -webkit-box-flex: 2.0;
    background: white;
    color: #666;
    padding: 0px 6px
}

.online-pay .pay-total-price
.pay_name {
    font-size: 1.4rem
}

.online-pay .pay-total-price
.price {
    color: #ff7d70
}

.online-pay .pay-total-price
em {
    font-size: 1.9rem
}

.online-pay
.detail {
    font-size: 1.4rem;
    float: right;
    margin-right: 20px;
    position: relative;
    top: 13px
}

.online-pay .detail:after {
    height: 0px;
    width: 0px;
    content: '';
    display: block;
    position: absolute;
    top: 42%;
    right: -14px;
    border-bottom: solid 6px #999;
    border-left: solid 6px rgba(0, 0, 0, 0);
    border-right: solid 6px rgba(0, 0, 0, 0);
    transform: rotate(-90deg);
    transition: all .3s;
    -webkit-transform: rotate(0deg);
    -webkit-transition: all .3s
}

.online-pay .submit-btn {
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    -webkit-flex: 1;
    -webkit-box-flex: 1.0;
    background: #ff7d70
}

.online-pay .submit-btn.grey {
    background: #999
}

.online-pay .submit-btn.active,
.online-pay .submit-btn:active {
    background: #f3b4b0
}

.online-pay .guarant-total-price {
    color: #999
}

.online-pay .cash-back-price {
    margin-left: 120px
}

.details-model {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: .2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    display: -webkit-box;
    -webkit-box-align: center;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transform: translateY(100%);
    -webkit-transform: translateY(100%)
}

.details-model.in {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0)
}

.details-model-bd {
    width: 100%;
    padding: 15% 20px
}

.details-model .details-title {
    margin-bottom: 6%;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff
}

.details-model .details-list {
    margin-bottom: 6%;
    color: #fff
}

.details-model .details-list dt,
.details-model .details-list
dd {
    height: 22px;
    overflow: hidden;
    box-sizing: content-box
}

.details-model .details-list
dt {
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #fff
}

.details-model .details-list
.fr {
    float: right
}

.details-model .details-list
.price {
    float: right;
    font-weight: bold;
    color: #ff968c
}

.details-model .details-list
dd {
    display: flex;
    display: -webkit-box;
    padding-bottom: 4px
}

.details-model .details-list .day,
.details-model .details-list .rate-plan {
    -webkit-flex: 1;
    -webkit-box-flex: 1.0;
    display: block;
    width: 50%
}

.details-model .details-list .day
span {
    margin-left: 8px
}

.details-model .details-list .rate-plan {
    text-align: right
}

.details-model .details-list .rate-plan
em {
    margin: 0 2px
}

.details-model
.total {
    text-align: right;
    font-size: 1.4rem;
    color: #fff
}

.details-model .total
.price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ff968c
}

#feedback {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%
}

#feedback .header-box
i {
    color: #33bd61
}

.feedback .copy-writer {
    margin: 8px 10px 0;
    font-size: 1.4rem
}

.feedback-main {
    margin: 0 10px;
    overflow: hidden
}

.feedback-main
h3 {
    margin: 8px 0 4px 0;
    font-size: 1.4rem;
    color: #999
}

.feedback-main .textarea-box {
    padding: 4px 4px 0;
    border: 1px solid #d4d4d4;
    background-color: #fff
}

.feedback-main .textarea-box
textarea {
    width: 100%;
    height: 100px;
    line-height: 20px;
    border: 0 none;
    font-size: 14px;
    text-align: justify;
    background: none;
    resize: none;
    color: #333
}

.feedback-main .textarea-box
.count {
    font-size: 1.2rem;
    text-align: right;
    color: #666
}

.feedback-main
.tags {
    overflow: hidden;
    margin-right: -8px
}

.feedback-main .tags
a {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 8px;
    padding: 3px 12px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    background-color: #fff
}

.feedback-main .tags
a.cur {
    color: #fff;
    border-color: #f60;
    background-color: #f60
}

.feedback-action {
    margin-top: 50px;
    text-align: center
}

.feedback-action .sub-btn {
    display: inline-block;
    width: 50%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 3px;
    color: #fff;
    background-color: #ff7c70
}

.feedback-action .sub-btn.grey {
    background-color: #999
}

.feedback-action .sub-btn:active {
    background: #f3b4b0
}

@-webkit-keyframes myfirst {
    0% {
        opacity: 0;
        -webkit-transform: scale(0)
    }
    80% {
        opacity: .8;
        -webkit-transform: scale(1.26)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes myfirstline {
    0% {
        opacity: 0;
        width: 0
    }
    100% {
        opacity: 1;
        width: 100%
    }
}