<div class="fixtop topbg col-xs-12 backtop" id="fxtop">
  <ul>
    <li class="pull-left"><a href="javascript:history.go(-1)" class="goback">找回密码</a></li>
  </ul>
</div>
<div id="subcontainer" class="clearfix" ng-controller="mynewpwCtrl">
  <div class="my-reset-pw col-xs-12">
    <form>
      <div class="form-group"><input type="password" class="form-control tel" placeholder="输入新密码" ng-model="password"/></div>
      <button type="submit" class="btn btn-default btn-lg btn-block" ng-click="updatePassword()">重置密码</button>
    </form>
  </div>
</div>