<div ng-controller="myscCtrl">
<div class="fixtop topbg col-xs-12 backtop" id="fxtop">
  <ul>
    <li class="pull-left"><a href="javascript:history.go(-1)" class="goback">我的收藏</a></li>
  </ul>
</div>
<div id="subcontainer" class="clearfix" infinite-scroll='collectList()' infinite-scroll-distance='1' infinite-scroll-disabled='loading'>
  <div class="my-lt-yxlist clearfix" ng-repeat="data in myscs">
    <p class="clearfix thumb"><img src="images/jingdian/1.jpg" class="img-responsive" /></p>
    <a onclick="deleteRow($(this));" class="trash img-circle"><span><img src="images/ico/trash.png" class="img-responsive center-block" /></span></a>
    <div class="info">
      <!--<a ui-sref="{{data.url}}">-->
      <h2 class="name clearfix"><span class="pull-left">{{data.title}}</span><span class="pull-right"><span class="view">{{data.browsingNum}}</span><span class="time">{{data.createTime}}</span></span></h2>
      <p class="text">{{data.content}}</p>
      </a>
    </div>
  </div>
  <!--<div class="my-lt-yjlist clearfix" ng-repeat="data in myscs.youji">-->
    <!--<p class="clearfix thumb"><img src="{{data.thumb}}" class="img-responsive" /></p>-->
    <!--<a onclick="deleteRow($(this));" class="trash img-circle"><span><img src="{{data.trashico}}" class="img-responsive center-block" /></span></a>-->
    <!--<h2 class="text-center"><a ui-sref="yjdetail">{{data.title}}</a></h2>-->
    <!--<div class="info"><span class="view">{{data.view}}</span><span class="time">{{data.time}}</span></span></div>-->
  <!--</div>-->
  <div ng-show="loading">加载数据中...</div>
  <div ng-show="nomore">没有更多数据了</div>
</div>
</div>
<script>
//删除
function deleteRow(obj) {
    obj.parents(".my-lt-yxlist").remove();
    obj.parents(".my-lt-yjlist").remove();
}
</script>