.total {
	padding-top: 1px;
	background:#f3f8fe;
	padding-bottom: 1px;
	font-family: '微软雅黑';
	border-top: 2px solid #3996fa;
}

.order_progress {
	width: 1180px;
	height: 200px;
	margin: 30px auto 0 auto;
}

.order_progress .po_both {
	float: left;
	background: #fff;
	border:1px solid #3996fa;
}

.order_progress .progress_left {
	width: 810px;
	height: 140px;
	padding: 30px 40px;
}

.order_progress .progress_right {
	width: 185px;
	height: 200px;
	padding: 0 40px;
	margin-left: 20px;
}

.order_progress .progress_pic {
	width: 100%;
	height: 50px;
	background: url(/image/progress01.png) no-repeat top center;
}

.order_progress .progress_pic2 {
	background: url(/image/progress02.png) no-repeat top center;
}

.order_progress .progress_text {
	text-align: center;
	font-size: 18px;
	color: #ff8800;
}
.order_progress .progress_text .p_tip {
    font-size: 12px;
    color: #666;
}

.order_progress .progress_pic span {
	width: 265px;
	height: 20px;
	color: #3996fa;
	font-size: 13px;
	font-weight: 600;
	margin-top: 30px;
	line-height: 20px;
	display: inline-block;
}

.progress_pic span.submited {
	text-align: left;
	text-indent: 22px;
}

.progress_pic span.paying {
	text-align: left;
	text-indent: 134px;
}

.progress_pic span.over {
	text-align: left;
	text-indent: 207px;
}

.progress_pic span.pro_active {
	color: #ff8800;
}

.progress_left .order_mess {
	font-size: 13px;
	margin-top: 30px;
	border-bottom: 1px solid #e0e0e0;
}

.progress_left .messcontain {
	font-size: 14px;
	margin-top: 10px;
	border-bottom: none;
}

.order_mess span {
	width: 25%;
	height: 30px;
    line-height: 30px;
	float: left;
	color: #404040;
	text-align: center;
	display: inline-block;
}

.order_mess span.mess_pri {
	/*text-indent: 140px;*/
}

.messcontain span.mess_pri {
	color: #ff8800;
}

.messcontain span.mess_pri label {
	font-size: 16px;
}

.waitpay {
	/*text-indent: 95px!important;*/
}

.progress_right .pay_wait {
	margin-top: 10%;
}

.progress_right .pay_over {
	display: none;
}

.order_mess span.arial {
	font-family: 'Arial';
}

.progress_right p {
	text-align: center;
}

.progress_right p span {
	display: inline-block;
}

.progress_right p span.payinline {
	font-size: 20px;
	font-weight: 600;
}

.progress_right p span.paycount {
	font-size: 20px;
	color: #ff8800;
}

.progress_right .overlogo {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #3996fa;
	background: url(/image/payover.png) no-repeat center center;
}

.progress_right .commitlogo {
	background: url(/image/paycommit.png) no-repeat center center;
}

.pay_commit .commitBtn {
	width: 160px;
	height: 40px;
	font-size: 17px;
	color: #ff8800;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	margin: 30px auto;
	border: 2px solid #ff8800;
}

.pay_over p {
	margin-top: 25px;
	text-align: center;
}

.pay_over p .paytit {
	font-size: 15px;
}

.progress_right p span.paycount label {
	font-size: 28px;
}

.progress_right .paybtn {
	color: #fff;
	width: 166px;
	height: 40px;
	cursor: pointer;
	font-size: 20px;
	line-height: 40px;
	margin: 22px auto;
	text-align: center;
	border-radius: 5px;
	background: #ff8800;
}

.progress_right .ferrypaybtn {
	margin:15px auto 10px auto;
}

.progress_right .ferrycanclebtn {
	margin: 0 auto;
	background:#3996fa;
}

.orderMessage {
	width: 1180px;
	margin: auto;
}

.Messagelist {
	width: 890px;
}

.Messagelist .Messagecontain {
	background: #fff;
	margin-top: 32px;
	margin-bottom: 70px;
	border:1px solid #e0e0e0;
	padding: 0 42px 40px 22px;
	border-top: 3px solid #e0e0e0;
}

.Messagecontain .listtitle {
	color: #3996fa;
	font-size: 20px;
	padding: 38px 0 10px;
}

.listtitle i {
	width: 3px;
	float: left;
	height: 18px;
	color: #3996fa;
	margin-top: 6px;
	margin-right: 5px;
	border-radius:6px;
	background: #3996fa;
}

.Messagecontain .product {
	font-size: 14px;
	color: #555;
	margin:0 0 10px 15px;
	border-top: 1px dashed #e0e0e0;
}


.Messagecontain .hotelmes {
	color: #555;
	font-size: 13px;
	margin:0 0 40px 25px;
}

.Messagecontain .hotelmes .le {
	float: left;
	width: 385px;
} 

.Messagecontain .hotelmes p {
	margin-top: 10px;
}

.Messagecontain .hotelmes p.price {
	color: #ff8800;
}

.Messagecontain .hotelmes p.price label {
	font-size: 16px;
}

.Messagecontain .hotelmes .le i {
	display: inline-block;
	width: 20px;
	height: 2px;
}

.Messagecontain .hotelmes .le label {
	color: #3996fa;
}

.hotelmes p span.l_title {
	color: #999;
}

.Messagecontain .hotelmes .ri {
	float: left;
	width: 340px;
} 

.Messagecontain .hotelmes .ri .roommess {
	width: 300px;
	display: block;
	float: right;
	margin-top: 16px;
}

.Messagecontain .hotelmes .ri .l_title {
	float: left;
}

.Messagecontain .hotelmes .ri .roommess label {
	padding: 0 15px;
}

.Messagecontain .hotelmes .ri .roommess label.rmb {
	color: #ff8800;
	padding: 0;
}

.order_part .hotelmes:last-child {
	margin-bottom:0;
}