<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmlyinfo.app.soutu.bargain.mapper.BargainPlanDayMapper">
	<insert id="insert" parameterType="BargainPlanDay" useGeneratedKeys="true" keyProperty="id">
		insert into tb_bargain_plan_day
			(
				id,
				bargain_plan_id,
				day,
				content,
				modify_time,
				create_time
			)
		values
			(
				#{id},
				#{bargainPlanId},
				#{day},
				#{content},
				#{modifyTime},
				#{createTime}
			)	
	</insert>
	
	<update id="update" parameterType="BargainPlanDay">
		update tb_bargain_plan_day
		<set>
			<if test="id != null"> id = #{id},</if>
			<if test="bargainPlanId != null"> bargain_plan_id = #{bargainPlanId},</if>
			<if test="day != null"> day = #{day},</if>
			<if test="content != null"> content = #{content},</if>
			<if test="modifyTime != null"> modify_time = #{modifyTime},</if>
			<if test="createTime != null"> create_time = #{createTime},</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="del" parameterType="BargainPlanDay">
		delete from
			tb_bargain_plan_day
		where
			id = #{id}
	</delete>
	
	<select id="selById" resultType="BargainPlanDay">
		select
			*
		from
			tb_bargain_plan_day
		where
			id = #{id}
	</select>
	
	<select id="count" resultType="int">
		select 
			count(*) 
		<include refid="byProperty"/>
	</select>
	
	<select id="list" resultType="BargainPlanDay">
		select 
		<if test="needColumns != null and needColumns.size() != 0">
			<foreach collection="needColumns" item="item" index="index" separator=",">$ {item}
			</foreach>
		</if>
		<if test="needColumns == null or needColumns.size() == 0">
			 *
		</if>	 
		<include refid="byProperty"/>
	</select>
	
	<sql id="byProperty">
		from
			tb_bargain_plan_day
		<where>
			<if test="id != null and '' != id"> and id = #{id} </if>
			<if test="bargainPlanId != null and '' != bargainPlanId"> and bargain_plan_id = #{bargainPlanId} </if>
			<if test="day != null and '' != day"> and day = #{day} </if>
			<if test="content != null and '' != content"> and content = #{content} </if>
			<if test="modifyTime != null and '' != modifyTime"> and modify_time = #{modifyTime} </if>
			<if test="createTime != null and '' != createTime"> and create_time = #{createTime} </if>
		<if test="ta != null and '' != ta"> and unix_timestamp(create_time) * 1000 &gt;#{ta} </if>
        <if test="tb != null and '' != tb"> and unix_timestamp(create_time) * 1000 &lt;#{tb} </if>
		<if test="ids != null">
			and id in
			<if test="ids.size() == 0">(-1)</if>
			<if test="ids.size() > 0">
			<foreach item="item" index="index" collection="ids" open="("
				separator="," close=")">
				# {item}
			</foreach>
			</if>
			</if>
		</where>
	</sql>
</mapper>