/*!
 * 公共 v0.1
 * Author Jeffrey.
 * Copyright 2011-2015.
 */
body{font-size:14px; font-family:"微软雅黑"; color:#555;}
ul,li{list-style:none; padding:0; margin:0;}
a{color:#555;}
a:hover{color:#000;text-decoration:none;}
label{font-weight:normal;}
.btn-warning{background-color:#ffa025;}
.btn-danger{background-color:#f00;}
.btn-primary{background-color:#1c96d9;}

.container{width:100%;}
.container-bg{background:#ededef; padding:25px 0;}

.logo{padding:10px 0;}
.top-title{font-size:24px; color:#5c5c5c; font-weight:bold; height:64px; line-height:64px; border-left:1px solid #e0e0e0; margin:26px 0 0 20px; padding-left:20px;}

.box{background:#fff; padding:15px; margin-bottom:20px;}
.box h4.title{color:#1c96d9; border-bottom:1px solid #ebebeb; padding-bottom:12px;}
.box h5.subtitle{color:#5c5c5c; font-weight:bold;}
.box .box-content{color:#666; line-height:200%;}
.box .box-tab{font-size:16px; margin:20px 0 0 0; height:30px;}
.box .box-tab a{padding:10px 30px; color:#1c96d9; margin-right:5px;}
.box .box-tab a.curr,.box .box-tab a:hover{background:#1c96d9; color:#fff;}

/*成功弹窗*/
.modal-dialog{background:#1c96d9; padding:0; margin:0 auto; top:30%; border-radius:10px;}
.modal-dialog .md-title,.modal-dialog .md-title a{color:#fff; font-size:18px; font-weight:bold; padding:10px;}
.modal-dialog .md-content{background:#1c96d9; padding:50px; text-align:center; font-size:16px;}
.modal-dialog .md-content h4{background:url("/images/ok1.jpg") center top no-repeat; padding-top:75px; text-align:center; color:#fff; font-size:20px;}
.modal-dialog .md-content h4 small{display:block; color:#fff; padding-top:10px;}
.md-qd{background:#e6e6e6; padding:30px;}
.md-qd a{padding:10px 50px; font-size:16px; color:#fff; font-weight:bold; border-radius:10px;}

.here{padding:15px 0;}
/*分页*/
.pagination > li > a, .pagination > li > span{color:#6f6691;}

/*footer*/
#footer{background:#1c96d9; padding-top:35px; padding-bottom:35px; color:#fff;}
#footer a{color:#fff; padding:0 20px;}
#footer .copyright{padding-top:15px;}
.pagination > a, .pagination > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #6f6691;
    
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
 .pagination > span{
    background-color: #428bca;
 	color : #fff;
 }